<mat-vertical-stepper
  [linear]="false"
  #stepper
  [animationDuration]="'1000'"
  class=".mat-dialog-container"
>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Chọn sản phẩm đánh giá</ng-template>
      <mat-selection-list
        #products
        [multiple]="false"
        formControlName="selectedProduct"
      >
        @for (product of orderDetails; track $index) { @if (product.reviewed ==
        false) {
        <mat-list-option [value]="product.productId" class="mt-4">
          <div class="product-item mb-3">
            <img [src]="product.thumbnail" class="product-image" />
            <span class="product-name">{{ product.productName }}</span>
          </div>
        </mat-list-option>
        } }
      </mat-selection-list>
      <p></p>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" class="example-form mt-5">
      <ng-template matStepLabel>Nhận xét và đánh giá</ng-template>

      <mat-label>Đánh giá sao</mat-label>
      <div class="star-rating mb-5 mt-2 text-start">
        <mat-icon
          *ngFor="let icon of starIcons; let i = index"
          class="star-icon"
          (click)="setRating(i + 1)"
        >
          {{ icon }}
        </mat-icon>
      </div>

      <mat-label class="mb-4">Nhận xét</mat-label>
      <mat-form-field class="example-full-width mb-2">
        <textarea
          matInput
          style="min-height: 140px; width: 100%; font-size: 16px; padding: 10px"
          formControlName="comment"
        ></textarea>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <div class="mt-3">
      <ng-template matStepLabel>Hoàn thành</ng-template>
      <button mat-fab extended (click)="onSubmit()">
        <mat-icon>task_alt</mat-icon>
        Gửi đánh giá
      </button>
      <button mat-fab extended (click)="uploadWidget()" class="ms-4">
        <mat-icon>task_alt</mat-icon>
        Gửi đánh giá kèm hình ảnh
      </button>
      <div class="mt-3">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </div>
  </mat-step>
</mat-vertical-stepper>
