<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card-body">
        <h2 class="text-center mb-4">Thay đổi mật khẩu</h2>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Nhập mật khẩu hiện tại</mat-label>
              <input matInput type="password" required formControlName="currentPassword" [class.is-invalid]="
                    changePasswordForm.get('currentPassword')?.invalid &&
                    changePasswordForm.get('currentPassword')?.touched
                  " />
              @if (changePasswordForm.get('currentPassword')?.hasError('required')) {
                <mat-error>Mật khẩu không được để trống</mat-error>
              }
            </mat-form-field>
          </div>
          
          <div class="mb-3">
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Nhập mật khẩu mới</mat-label>
              <input matInput type="password" required formControlName="newPassword" [class.is-invalid]="
                    changePasswordForm.get('newPassword')?.invalid &&
                    changePasswordForm.get('newPassword')?.touched
                  " />
              @if (changePasswordForm.get('newPassword')?.hasError('required')) {
                <mat-error>Mật khẩu không được để trống</mat-error>
              }
              @if (changePasswordForm.get('newPassword')?.hasError('minlength')) {
                <mat-error>Mật khẩu mới phải có ít nhất 8 ký tự</mat-error>
              }
              @if (changePasswordForm.get('newPassword')?.hasError('pattern')) {
                <mat-error>Mật khẩu mới phải bao gồm ít nhất một chữ cái viết hoa, một chữ cái viết thường, một chữ số và một ký tự đặc biệt</mat-error>
              }
            </mat-form-field>
          </div>
          
          <div class="mb-3">
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Nhập lại mật khẩu mới</mat-label>
              <input matInput type="password" required formControlName="confirmPassword" [class.is-invalid]="
                    changePasswordForm.get('confirmPassword')?.invalid &&
                    changePasswordForm.get('confirmPassword')?.touched
                  " />
              @if (changePasswordForm.get('confirmPassword')?.hasError('required')) {
                <mat-error>Mật khẩu không được để trống</mat-error>
              }
              @if (changePasswordForm.get('confirmPassword')?.hasError('minlength')) {
                <mat-error>Xác nhận mật khẩu mới phải có ít nhất 8 ký tự</mat-error>
              }
              @if (changePasswordForm.get('confirmPassword')?.hasError('pattern')) {
                <mat-error>Xác nhận mật khẩu mới phải bao gồm ít nhất một chữ cái viết hoa, một chữ cái viết thường, một chữ số và một ký tự đặc biệt</mat-error>
              }
              @if (changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword')?.touched) {
                <mat-error>Mật khẩu mới và xác nhận mật khẩu mới không khớp</mat-error>
              }
            </mat-form-field>
          </div>
          <button type="submit" class="btn btn-primary w-100" >Thay đổi mật khẩu</button>
        </form>
      </div>
    </div>
  </div>
</div>
