<mat-card class="d-flex align-items-center justify-content-center p-2">
  <mat-card-header>
    <mat-card-title class="fs-50 fw-bold mb-5">Đổi mật khẩu</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="changePasswordForm" (submit)="onSubmit()">
      <mat-form-field class="w-100 fs-14 mb-4" appearance="outline">
        <mat-label>Nhập mật khẩu hiện tại</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          required
          formControlName="currentPassword"
          [class.is-invalid]="
            changePasswordForm.get('currentPassword')?.invalid &&
            changePasswordForm.get('currentPassword')?.touched
          "
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon color="primary" class="fs-18">{{
            hide() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if (changePasswordForm.get('currentPassword')?.hasError('required')) {
        <mat-error class="fs-12">Mật khẩu không được để trống</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-100 fs-14 mb-4" appearance="outline">
        <mat-label>Nhập mật khẩu mới</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          required
          formControlName="newPassword"
          [class.is-invalid]="
            changePasswordForm.get('newPassword')?.invalid &&
            changePasswordForm.get('newPassword')?.touched
          "
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon class="fs-18" color="primary">{{
            hide() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if (changePasswordForm.get('newPassword')?.hasError('required')) {
        <mat-error class="fs-12">Mật khẩu mới không được để trống</mat-error>

        } @if (changePasswordForm.get('newPassword')?.hasError('pattern')) {
        <mat-error class="fs-12"
          >Mật khẩu mới phải bao gồm ít nhất một chữ hoa, một chữ thường, một
          chữ số, ký tự đặc biệt và trên 8 ký tự</mat-error
        >
        }
      </mat-form-field>

      <mat-form-field class="w-100 fs-14 mb-4" appearance="outline">
        <mat-label>Nhập lại mật khẩu mới</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          required
          formControlName="confirmPassword"
          [class.is-invalid]="
            changePasswordForm.get('confirmPassword')?.invalid &&
            changePasswordForm.get('confirmPassword')?.touched
          "
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon class="fs-18" color="primary">{{
            hide() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if (changePasswordForm.get('confirmPassword')?.hasError('required')) {
        <mat-error class="fs-12"
          >Mật khẩu nhập lại không được để trống</mat-error
        >
        } @if
        (changePasswordForm.get('confirmPassword')?.hasError('passwordMismatch')
        ) {
        <mat-error class="fs-12"
          >Mật khẩu mới và xác nhận mật khẩu mới không khớp</mat-error
        >
        }
      </mat-form-field>
      <div class="d-flex justify-content-center align-items-center">
        <button
          type="submit"
          color="primary"
          (progress)="(true)"
          mat-raised-button
        >
          Xác nhận thay đổi
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
