<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<section class="product layout-product">
  <div class="container">
    <div class="details-product">
      <div class="row">
        <div
          class="product-detail-left product-images col-12 col-md-12 col-lg-5"
        >
          <div class="box_pro_img carousel slide" data-bs-ride="carousel">
            <div class="product-image-block relative">
              <div class="">
                <div>
                  <div class="carousel-inner">
                    @for(image of product?.productImages; track
                    image.imageUrl;let i = $index;) {
                    <div
                      class="carousel-item"
                      [ngClass]="{ active: i === currentImageIndex }"
                    >
                      <div class="">
                        <img
                          [src]="image.imageUrl"
                          class="product-image rounded-3"
                          alt="Product Image"
                        />
                      </div>
                    </div>
                    }
                  </div>
                </div>
                <div class="product-percent">
                  <span class="label_product">- {{ product?.discount }}% </span
                  ><span>OFF </span>
                </div>
              </div>
              <div class="row">
                <div class="thumbnail-container">
                  @for(image of product?.productImages; track image.imageUrl;
                  let i = $index) {
                  <div
                    class="thumbnail-item"
                    [ngClass]="{ active: i === currentImageIndex }"
                    (click)="thumbnailClick(i)"
                  >
                    <img
                      [src]="image.imageUrl"
                      class="thumbnail-image rounded-3"
                      alt="Thumbnail Image"
                    />
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <div class="details-pro">
            <h1 class="title-product">{{ product?.title }}</h1>

            <div class="reviews_details_product">
              <div
                class="sapo-product-reviews-badge sapo-product-reviews-badge-detail"
              ></div>
            </div>

            <div class="inventory_quantity">
              <div class="thump-break">
                <span class="mb-break">
                  <span class="stock-brand-title">Thương hiệu:</span>
                  <span style="color: #008b4b"> Nature's Harvest </span>
                </span>
                <span class="line">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span class="mb-break inventory">
                  <span class="stock-brand-title">Tình trạng:</span>

                  <span class="a-stock"> Còn hàng </span>
                </span>
              </div>
            </div>
            <div class="price-box clearfix mt-4">
              <span class="special-price">
                Giá:
                <span class="price product-price"
                  >{{ product?.officialPrice | number : "1.0" }}₫</span
                >
              </span>
              <span class="old-price">
                Giá thị trường:
                <del class="price product-price-old">
                  {{ product?.originalPrice }}₫
                </del>
              </span>
              <span class="save-price"
                >Tiết kiệm:
                <span class="price product-price-save"
                  >{{
                    product?.originalPrice! - product?.officialPrice!
                  }}₫</span
                >
                so với giá thị trường
              </span>
            </div>

            <div class="motangan mt-4">
              <div class="rte">
                <p>
                  {{ product?.description }}
                </p>
              </div>
            </div>
            <div class="form-product mt-5">
              <div class="clearfix form-group">
                <div class="flex-quantity">
                  <div class="custom custom-btn-number show">
                    <div class="input_number_product">
                      <button
                        class="btn_num num_1 button button_qty"
                        (click)="decreaseQuantity()"
                      >
                        −
                      </button>
                      <input
                        type="text"
                        id="quantity"
                        name="quantity"
                        [value]="quantity"
                        maxlength="3"
                        class="form-control prd_quantity"
                      />
                      <button
                        class="btn_num num_2 button button_qty"
                        (click)="increaseQuantity()"
                      >
                        <span>+</span>
                      </button>
                    </div>
                  </div>
                  <div class="flex-btntity">
                    <div class="btn-mua button_actions clearfix">
                      <div style="display: flex; flex-wrap: wrap; width: 80%">
                        <button
                          class="btn btn_base normal_button btn_add_cart add_to_cart btn-cart"
                          (click)="
                            addProductToCart(product?.id, product?.title)
                          "
                        >
                          <span class="txt-main text_1">Thêm vào giỏ</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ul class="chinhsach-pro mt-5">
              <li>
                <img
                  width="32"
                  height="32"
                  src="//bizweb.dktcdn.net/100/514/629/themes/951567/assets/chinhsach_1.jpg?1716945232631"
                  alt="Miễn phí vận chuyển tại TP.HCM"
                />
                <span>Miễn phí vận chuyển tại TP.HCM</span>
              </li>

              <li>
                <img
                  width="32"
                  height="32"
                  src="//bizweb.dktcdn.net/100/514/629/themes/951567/assets/chinhsach_2.jpg?1716945232631"
                  alt="Bảo hành chính hãng toàn quốc"
                />
                <span>Bảo hành chính hãng toàn quốc</span>
              </li>

              <li>
                <img
                  width="32"
                  height="32"
                  src="//bizweb.dktcdn.net/100/514/629/themes/951567/assets/chinhsach_3.jpg?1716945232631"
                  alt="Cam kết chính hãng 100%"
                />
                <span>Cam kết chính hãng 100%</span>
              </li>

              <li>
                <img
                  width="32"
                  height="32"
                  src="//bizweb.dktcdn.net/100/514/629/themes/951567/assets/chinhsach_4.jpg?1716945232631"
                  alt="1 đổi 1 nếu sản phẩm lỗi"
                />
                <span>1 đổi 1 nếu sản phẩm lỗi</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-9 col-col-md-9">
          <div class="content-pro">
            <div class="product-tab e-tabs not-dqtab" id="tab-product">
              <ul class="tabs tabs-title clearfix">
                <li class="tab-link active">
                  <h3>Mô tả sản phẩm</h3>
                </li>
              </ul>
              <div class="tab-float">
                <div id="tab-1" class="tab-content content_extab active">
                  <div class="rte product_getcontent content_coll active">
                    <p>
                      <strong>Chứng nhận/Canh tác:</strong
                      ><span>&nbsp;</span>Canh tác theo hướng hữu cơ. Trang trại
                      không sử dụng phân bón hóa học, không sử dụng thuốc diệt
                      cỏ, không dùng bất cứ loại hóa chất bảo vệ thực vật nào.
                      Chỉ sử dụng các loại phân gà đã có chứng nhận hữu cơ
                      OMRILIST, sử dụng thêm các loại phân chuồng ủ hoai cùng
                      thực vậy, các loại phân trùn quế tùy theo mùa. Tùy vào
                      từng mùa trong năm, vườn có sử dụng thêm các chế phẩm sinh
                      học được cho phép theo tiêu chuẩn canh tác hữu cơ USDA
                      (Mỹ) phòng ngừa sâu bệnh và dịch hại. Canh tác trong vườn
                      được ghi chép nhật ký để luân canh, xen canh, cải tạo đất.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-lg-9 col-col-md-9">
          <div class="content-pro">
            <div class="product-tab e-tabs not-dqtab" id="tab-product">
              <ul class="tabs tabs-title clearfix">
                <li class="tab-link active">
                  <h3>Đánh giá sản phẩm</h3>
                </li>
              </ul>
              <div class="tab-float">
                <div class="tab-content content_extab active">
                  <div class="container mx-auto lg:w-4/6">
                    <div>
                      <div
                        id="sapo-product-reviews"
                        class="sapo-product-reviews"
                      >
                        <div>
                          <div id="sapo-product-reviews-sub">
                            <div>
                              <div class="sapo-product-reviews-summary">
                                <div class="summary-filter">
                                  <div class="sapo-product-reviews-action">
                                    <div
                                      itemprop="aggregateRating"
                                      itemscope=""
                                      itemtype="http://schema.org/AggregateRating"
                                      class="bpr-summary"
                                    >
                                      <meta content="5" itemprop="bestRating" />
                                      <meta
                                        content="1"
                                        itemprop="worstRating"
                                      />
                                      <div class="bpr-summary-average">
                                        <span itemprop="ratingValue">{{
                                          product?.averageRating
                                        }}</span>
                                        <span class="max-score">/5</span>
                                      </div>
                                      <div
                                        class="sapo-product-reviews-star"
                                        id="sapo-prv-summary-star"
                                        title="gorgeous"
                                      >
                                        @for (item of [1,2,3,4,5]; track $index)
                                        { @if ($index < product?.averageRating!)
                                        {
                                        <i
                                          data-alt="1"
                                          class="star-on-png"
                                          title="gorgeous"
                                        ></i
                                        >&nbsp; } }
                                      </div>
                                      <p>
                                        (<span itemprop="ratingCount">{{
                                          comments.length
                                        }}</span>
                                        <span> đánh giá</span>)
                                      </p>
                                    </div>
                                  </div>
                                  <div class="sapo-product-reviews-filter">
                                    <p>
                                      <i
                                        class="fa fa-filter"
                                        aria-hidden="true"
                                      ></i
                                      ><span>Bộ lọc</span>
                                    </p>
                                    <div class="list-filter">
                                      <label class="active">
                                        <input
                                          type="radio"
                                          id="FilterAll"
                                          name="filter"
                                          value="all"
                                          checked=""
                                          style="display: none"
                                        />
                                        <span class="checkmark"
                                          ><span>Tất cả</span></span
                                        >
                                      </label>
                                      <label class="">
                                        <input
                                          type="radio"
                                          id="FiveScore"
                                          name="filter"
                                          data-filter="score"
                                          value="5"
                                          style="display: none"
                                        />
                                        <span class="checkmark"
                                          ><span>5 Điểm</span> (<span
                                            class="count"
                                            >2</span
                                          >)</span
                                        >
                                      </label>
                                      <label class="">
                                        <input
                                          type="radio"
                                          id="FourScore"
                                          name="filter"
                                          data-filter="score"
                                          value="4"
                                          style="display: none"
                                        />
                                        <span class="checkmark"
                                          ><span>4 Điểm</span> (<span
                                            class="count"
                                            data-content="four_rating"
                                            >0</span
                                          >)</span
                                        >
                                      </label>
                                      <label>
                                        <input
                                          type="radio"
                                          id="ThreeScore"
                                          name="filter"
                                          data-filter="score"
                                          value="3"
                                          style="display: none"
                                        />
                                        <span class="checkmark"
                                          ><span>3 Điểm</span> (<span
                                            class="count"
                                            >1</span
                                          >)</span
                                        >
                                      </label>
                                      <label>
                                        <input
                                          type="radio"
                                          id="TwoScore"
                                          name="filter"
                                          data-filter="score"
                                          value="2"
                                          style="display: none"
                                        />
                                        <span class="checkmark"
                                          ><span>2 Điểm</span> (<span
                                            class="count"
                                            data-content="two_rating"
                                            >0</span
                                          >)</span
                                        >
                                      </label>
                                      <label>
                                        <input
                                          type="radio"
                                          id="OneScore"
                                          name="filter"
                                          data-filter="score"
                                          value="1"
                                          style="display: none"
                                        />
                                        <span class="checkmark"
                                          ><span>1 Điểm</span> (<span
                                            class="count"
                                            data-content="one_rating"
                                            >0</span
                                          >)</span
                                        >
                                      </label>
                                      <label>
                                        <input
                                          type="radio"
                                          id="IsImage"
                                          name="filter"
                                          value="isimage"
                                          style="display: none"
                                        />
                                        <span class="checkmark"
                                          ><span>Có hình ảnh</span> (<span
                                            class="count"
                                            >2</span
                                          >)</span
                                        >
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                id="bpr-list"
                                class="sapo-product-reviews-list"
                              >
                                @for (comment of comments; track $index) {
                                <div
                                  id="sapo-review-560777"
                                  class="sapo-review"
                                  itemtype="http://schema.org/Review"
                                >
                                  <div class="sapo-review-header">
                                    <span
                                      class="sapo-review-author"
                                      itemprop="author"
                                      >{{ comment.userResponse.name }}</span
                                    >
                                    <div
                                      class="sapo-product-reviews-star"
                                      data-score="5"
                                      data-number="5"
                                      title="gorgeous"
                                    >
                                      @for (item of [1,2,3,4,5]; track $index) {
                                      @if ($index < comment.starRating) {
                                      <i
                                        data-alt="1"
                                        class="star-on-png"
                                        title="gorgeous"
                                      ></i
                                      >&nbsp; } }
                                    </div>
                                  </div>
                                  <div class="sapo-review-body">
                                    <span
                                      class="sapo-review-content-body"
                                      itemprop="description"
                                      >{{ comment.content }}</span
                                    >
                                  </div>
                                  <div
                                    class="sapo-review-actions"
                                    style="color: #80bb35"
                                  >
                                    <ul>
                                      <li class="sapo-review-reply">
                                        <a
                                          title="Gửi trả lời"
                                          href="javascript: void(0);"
                                          >Gửi trả lời</a
                                        >
                                      </li>

                                      <li>
                                        <span
                                          class="sapo-review-time"
                                          itemprop="datePublished"
                                          >{{
                                            comment.formattedCreatedAt
                                          }}</span
                                        >
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="sapo-review-images">
                                    <ul>
                                      <li>
                                        <a
                                          data-fancybox="gallery"
                                          href="https://newproductreviews.sapoapps.vn//Upload/ReviewImage/2024/6/24/bad07e34d23158d288ee72afe6c93830.jpg"
                                          ><img
                                            src="https://newproductreviews.sapoapps.vn//Thumbnail/Medium/Upload/ReviewImage/2024/6/24/bad07e34d23158d288ee72afe6c93830.jpg"
                                            onerror="this.onerror=null;this.src='https://newproductreviews.sapoapps.vn//Upload/ReviewImage/2024/6/24/bad07e34d23158d288ee72afe6c93830.jpg';"
                                            alt="dsdasdasdasdasdasdas"
                                        /></a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                }
                              </div>
                              @if (totalPages > 1) {
                              <div class="section pagenav clearfix a-center">
                                <nav
                                  class="collection-paginate clearfix nav_pagi w_100 relative"
                                >
                                  <ul class="pagination clearfix">
                                    @if (currentPage > 0) {
                                    <li class="page-item">
                                      <a
                                        class="page-link"
                                        href="javascript:;"
                                        (click)="onPageChange(currentPage - 1)"
                                      >
                                        <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          width="12"
                                          height="20"
                                          viewBox="0 0 12 20"
                                          fill="none"
                                        >
                                          <path
                                            d="M0.827131 10.5488L10.0777 19.7738C10.3808 20.0759 10.8715 20.0754 11.1741 19.7723C11.4764 19.4692 11.4756 18.9782 11.1725 18.6759L2.47255 9.99996L11.1728 1.32406C11.4759 1.02172 11.4767 0.531057 11.1744 0.227934C11.0227 0.0759811 10.824 3.76429e-06 10.6253 3.74691e-06C10.4271 3.72959e-06 10.2292 0.0754737 10.0778 0.226372L0.827131 9.45114C0.681155 9.59637 0.599241 9.79403 0.599241 9.99996C0.599241 10.2059 0.68139 10.4033 0.827131 10.5488Z"
                                            fill="#9D9D9D"
                                          ></path>
                                        </svg>
                                      </a>
                                    </li>
                                    } @for (page of visiblePages; track $index)
                                    {
                                    <li
                                      class="page-item"
                                      [ngClass]="{
                                        active: page === currentPage + 1
                                      }"
                                    >
                                      <a
                                        class="page-link"
                                        href="javascript:;"
                                        [style]="{
                                          'pointer-events: none':
                                            page === currentPage + 1
                                        }"
                                        (click)="onPageChange(page - 1)"
                                        >{{ page }}</a
                                      >
                                    </li>
                                    } @if (currentPage < totalPages - 1) {
                                    <li class="page-item">
                                      <a
                                        class="page-link link-next-pre"
                                        href="javascript:;"
                                        (click)="onPageChange(currentPage + 1)"
                                      >
                                        <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          width="12"
                                          height="20"
                                          viewBox="0 0 12 20"
                                          fill="none"
                                        >
                                          <path
                                            d="M11.1729 9.45117L1.92228 0.226167C1.6192 -0.0759023 1.12849 -0.0753945 0.825918 0.227729C0.523575 0.530814 0.524357 1.02179 0.827481 1.32409L9.52745 10L0.827168 18.6759C0.524083 18.9783 0.523302 19.4689 0.825605 19.7721C0.977285 19.924 1.17599 20 1.37471 20C1.57291 20 1.77084 19.9245 1.92224 19.7736L11.1729 10.5489C11.3188 10.4036 11.4008 10.206 11.4008 10C11.4008 9.7941 11.3186 9.59668 11.1729 9.45117Z"
                                            fill="#9D9D9D"
                                          ></path>
                                        </svg>
                                      </a>
                                    </li>
                                    }
                                  </ul>
                                </nav>
                              </div>
                              }
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
