<header class="banner">
  <div class="wrap">
    <div class="logo logo--center">
      <a href="/">
        <img
          class="logo__image logo__image--medium"
          alt="Nature's Harvest"
          src="https://res.cloudinary.com/dlpust9lj/image/upload/v1720436456/ebhqmo659apqbsoigbmy.png"
        />
      </a>
    </div>
  </div>
</header>
<aside>
  <button
    class="order-summary-toggle toggled"
    data-toggle="#order-summary"
    data-toggle-class="order-summary--is-collapsed"
  >
    <span class="wrap">
      <span class="order-summary-toggle__inner">
        <span class=""> Đơn hàng (1 sản phẩm) </span>
        <span class="order-summary-toggle__total-recap">180.000₫</span>
      </span>
    </span>
  </button>
</aside>
<div id="checkout" class="content">
  <form [formGroup]="orderForm" (ngSubmit)="placeOrder()">
    <div class="wrap">
      <main class="main">
        <header class="main__header">
          <div class="logo logo--left">
            <a href="">
              <img
                src="https://res.cloudinary.com/dlpust9lj/image/upload/v1720436456/ebhqmo659apqbsoigbmy.png"
                width="120px"
                class="img-fluid"
                alt=""
              />
            </a>
          </div>
        </header>
        <div class="main__content">
          <article class="animate-floating-labels row">
            <div class="col col--two">
              <section class="section">
                <div class="section__header">
                  <div class="layout-flex">
                    <h2
                      class="section__title layout-flex__item layout-flex__item--stretch"
                    >
                      Thông tin nhận hàng
                    </h2>
                  </div>
                </div>
                <div class="section__content">
                  <div class="fieldset">
                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="email" class="field__label">
                          Email <span style="color: red"> *</span></label
                        >
                        <input
                          id="email"
                          type="email"
                          class="field__input"
                          formControlName="email"
                          required
                          [class.is-invalid]="
                            orderForm.get('email')!.invalid &&
                            orderForm.get('email')!.touched
                          "
                        />
                        @if(orderForm.get('email')!.invalid &&
                        orderForm.get('email')!.touched) {
                        <mat-error style="color: red">
                          Email là trường <strong>bắt buộc</strong> và
                          <strong>đúng định dạng</strong>
                        </mat-error>
                        }
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="billingName" class="field__label"
                          >Họ và tên <span style="color: red"> *</span></label
                        >
                        <input
                          id="billingName"
                          type="text"
                          class="field__input"
                          formControlName="name"
                          required
                          [class.is-invalid]="
                            orderForm.get('name')!.invalid &&
                            orderForm.get('name')!.touched
                          "
                        />
                        @if(orderForm.get('name')!.invalid &&
                        orderForm.get('name')!.touched) {
                        <mat-error style="color: red">
                          Họ và tên là trường <strong>bắt buộc</strong>
                        </mat-error>
                        }
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="billingPhone" class="field__label">
                          Số điện thoại <span style="color: red"> *</span>
                        </label>
                        <input
                          id="billingPhone"
                          type="tel"
                          class="field__input"
                          required
                          formControlName="phone"
                          [class.is-invalid]="
                            orderForm.get('phone')!.invalid &&
                            orderForm.get('phone')!.touched
                          "
                        />
                        @if(orderForm.get('phone')!.invalid &&
                        orderForm.get('phone')!.touched) {
                        <mat-error style="color: red">
                          Số điện thoại là trường <strong>bắt buộc</strong>
                        </mat-error>
                        }
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="billingAddress" class="field__label">
                          Địa chỉ nhận hàng <span style="color: red"> *</span>
                        </label>
                        <input
                          id="billingAddress"
                          type="text"
                          class="field__input"
                          required
                          formControlName="deliveryAddress"
                          [class.is-invalid]="
                            orderForm.get('deliveryAddress')!.invalid &&
                            orderForm.get('deliveryAddress')!.touched
                          "
                        />
                        @if(orderForm.get('deliveryAddress')!.invalid &&
                        orderForm.get('deliveryAddress')!.touched) {
                        <mat-error style="color: red">
                          Địa chỉ là trường
                          <strong>bắt buộc và ít nhất 5 ký tự.</strong>
                        </mat-error>
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <div class="fieldset">
                <h3 class="visually-hidden">Ghi chú</h3>
                <div class="field">
                  <div class="field__input-wrapper">
                    <label for="note" class="field__label">
                      Ghi chú (tùy chọn)
                    </label>
                    <textarea
                      name="note"
                      id="note"
                      class="field__input"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col--two">
              <section class="section">
                <div class="section__header">
                  <div class="layout-flex">
                    <h2
                      class="section__title layout-flex__item layout-flex__item--stretch"
                    >
                      Vận chuyển
                    </h2>
                  </div>
                </div>
                <div class="section__content"></div>
              </section>

              <section class="section">
                <div class="section__header">
                  <div class="layout-flex">
                    <h2
                      class="section__title layout-flex__item layout-flex__item--stretch"
                    >
                      Thanh toán
                    </h2>
                    @if(orderForm.get('paymentMethod')!.invalid &&
                    orderForm.get('paymentMethod')!.touched) {
                    <mat-error style="color: red">
                      Vui lòng chọn phương thức thanh toán
                    </mat-error>
                    }
                  </div>
                </div>
                <div class="section__content">
                  <div class="content-box">
                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            id="cod"
                            name="paymentMethod"
                            type="radio"
                            value="COD"
                            class="input-radio"
                            required
                            formControlName="paymentMethod"
                            [class.is-invalid]="
                              orderForm.get('paymentMethod')!.invalid &&
                              orderForm.get('paymentMethod')!.touched
                            "
                          />
                        </div>
                        <label for="cod" class="radio__label">
                          <span id="cod" class="radio__label__primary"
                            >Thu hộ (COD)</span
                          >
                          <span class="radio__label__accessory">
                            <img
                              height="80px"
                              width="80px"
                              src="https://www.coolmate.me/images/COD.svg"
                              alt="COD"
                            />
                          </span>
                        </label>
                      </div>
                    </div>

                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            id="vnpay"
                            name="paymentMethod"
                            type="radio"
                            value="VNPAY"
                            class="input-radio"
                            required
                            formControlName="paymentMethod"
                            [class.is-invalid]="
                              orderForm.get('paymentMethod')!.invalid &&
                              orderForm.get('paymentMethod')!.touched
                            "
                          />
                        </div>
                        <label for="vnpay" class="radio__label">
                          <span class="radio__label__primary">VnPay</span>
                          <span class="radio__label__accessory">
                            <img
                              height="80px"
                              width="80px"
                              src="https://s-vnba-cdn.aicms.vn/vnba-media/23/8/16/vnpay-logo_64dc3da9d7a11.jpg"
                              alt="VNPAY"
                            />
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            id="momo"
                            name="paymentMethod"
                            type="radio"
                            value="MOMO"
                            class="input-radio"
                            required
                            formControlName="paymentMethod"
                            [class.is-invalid]="
                              orderForm.get('paymentMethod')!.invalid &&
                              orderForm.get('paymentMethod')!.touched
                            "
                          />
                        </div>
                        <label for="momo" class="radio__label">
                          <span class="radio__label__primary">MoMo</span>
                          <span class="radio__label__accessory">
                            <img
                              height="80px"
                              width="80px"
                              src="https://test-payment.momo.vn/v2/gateway/images/logo-momo.png"
                              alt="Momo"
                            />
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </article>
          <div
            class="field__input-btn-wrapper field__input-btn-wrapper--vertical hide-on-desktop"
          >
            <button type="submit" class="btn btn-checkout spinner">
              <span class="spinner-label">ĐẶT HÀNG</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="spinner-loader">
                <use href="#spinner"></use>
              </svg>
            </button>

            <a href="/cart" class="text-primary" style="color: #008b4b">
              <i class="previous-link__arrow">❮</i>
              <span class="" style="color: #008b4b">Quay về giỏ hàng</span>
            </a>
          </div>
        </div>
      </main>
      <aside class="sidebar">
        <div class="sidebar__header">
          <p class="sidebar__title">Đơn hàng ({{ cart.length }} sản phẩm)</p>
        </div>
        <div class="sidebar__content">
          <div
            id="order-summary"
            class="order-summary order-summary--is-collapsed"
          >
            <div class="order-summary__sections">
              <div
                class="order-summary__section order-summary__section--product-list order-summary__section--is-scrollable order-summary--collapse-element"
              >
                <table class="product-table" id="product-table">
                  <caption class="visually-hidden">
                    Chi tiết đơn hàng
                  </caption>
                  <thead class="product-table__header">
                    <tr>
                      <th>
                        <span class="visually-hidden">Ảnh sản phẩm</span>
                      </th>
                      <th>
                        <span class="visually-hidden">Mô tả</span>
                      </th>
                      <th>
                        <span class="visually-hidden">Sổ lượng</span>
                      </th>
                      <th>
                        <span class="visually-hidden">Đơn giá</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of cart; track $index) {
                    <tr class="product">
                      <td class="product__image">
                        <div class="product-thumbnail">
                          <div class="product-thumbnail__wrapper">
                            <img
                              [src]="item.product.thumbnail"
                              alt=""
                              class="product-thumbnail__image"
                            />
                          </div>
                          <span class="product-thumbnail__quantity">{{
                            item.quantity
                          }}</span>
                        </div>
                      </td>
                      <th class="product__description">
                        <span class="product__description__name">
                          {{ item.product.title }}
                        </span>
                      </th>
                      <td class="product__quantity visually-hidden">
                        <em>Số lượng:</em> {{ item.product.quantity }}
                      </td>
                      <td class="product__price">
                        {{ item.product.officialPrice | number : "1.0" }}₫
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
              <div
                class="order-summary__section order-summary__section--discount-code"
                id="discountCode"
              >
                <div class="edit_checkout animate-floating-labels">
                  <div class="fieldset">
                    <div class="field">
                      <div class="field__input-btn-wrapper">
                        <div class="field__input-wrapper">
                          <label for="reductionCode" class="field__label"
                            >Nhập mã giảm giá</label
                          >
                          <input
                            name="reductionCode"
                            id="reductionCode"
                            type="text"
                            class="field__input"
                            autocomplete="off"
                          />
                        </div>
                        <button
                          class="field__input-btn btn btn-primary spinner btn--disabled"
                          type="button"
                          disabled=""
                        >
                          <span class="spinner-label">Áp dụng</span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="spinner-loader"
                          >
                            <use href="#spinner"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="voucher mt-3">
                        <svg
                          width="28"
                          height="28"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="2"
                            y="4"
                            width="20"
                            height="16"
                            rx="2"
                            fill="#A8E6A1"
                            stroke="#4CAF50"
                            stroke-width="2"
                          />
                          <path d="M8 8H16V10H8V8Z" fill="#4CAF50" />
                          <path d="M8 12H16V14H8V12Z" fill="#4CAF50" />
                        </svg>

                        <div class="ms-1" style="color: #3e4a5e">
                          Nature's Harvest Voucher
                        </div>
                        <div style="flex: 1"></div>
                        <button
                          type="button"
                          class="voucher-btn"
                          (click)="selectVoucher()"
                        >
                          Chọn hoặc nhập mã
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="order-summary__section order-summary__section--total-lines order-summary--collapse-element"
                id="orderSummary"
              >
                <table class="total-line-table">
                  <caption class="visually-hidden">
                    Tổng giá trị
                  </caption>
                  <thead>
                    <tr>
                      <td><span class="visually-hidden">Mô tả</span></td>
                      <td><span class="visually-hidden">Giá tiền</span></td>
                    </tr>
                  </thead>
                  <tbody class="total-line-table__tbody">
                    <tr class="total-line total-line--subtotal">
                      <th class="total-line__name">Tạm tính</th>
                      <td class="total-line__price">
                        {{ getTotalPrice() | number : "1.0" }}₫
                      </td>
                    </tr>

                    <tr class="total-line total-line--shipping-fee">
                      <th class="total-line__name">Phí vận chuyển</th>
                      <td class="total-line__price">
                        <span class="origin-price"></span>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot class="total-line-table__footer">
                    <tr class="total-line payment-due">
                      <th class="total-line__name">
                        <span class="payment-due__label-total">
                          Tổng cộng
                        </span>
                      </th>
                      <td class="total-line__price">
                        <span class="payment-due__price"
                          >{{ getTotalPrice() | number : "1.0" }}₫</span
                        >
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div
                class="order-summary__nav field__input-btn-wrapper hide-on-mobile layout-flex--row-reverse"
              >
                <button type="submit" class="btn btn-checkout spinner">
                  <span class="spinner-label">ĐẶT HÀNG</span>
                </button>

                <a routerLink="/view-cart" class="previous-link">
                  <i class="previous-link__arrow">❮</i>
                  <span class="previous-link__content">Quay về giỏ hàng</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </form>
</div>
