@defer () {
<header class="banner">
  <div class="wrap">
    <div class="logo logo--center">
      <a href="/">
        <img
          class="logo__image logo__image--medium"
          alt="Nature's Harvest"
          src="https://res.cloudinary.com/dlpust9lj/image/upload/v1720436456/ebhqmo659apqbsoigbmy.png"
        />
      </a>
    </div>
  </div>
</header>
<aside>
  <button
    class="order-summary-toggle toggled"
    data-toggle="#order-summary"
    data-toggle-class="order-summary--is-collapsed"
  >
    <span class="wrap">
      <span class="order-summary-toggle__inner">
        <span class=""> Đơn hàng (1 sản phẩm) </span>
        <span class="order-summary-toggle__total-recap">180.000₫</span>
      </span>
    </span>
  </button>
</aside>
<div id="checkout" class="content">
  <form [formGroup]="orderForm" (ngSubmit)="placeOrder()">
    <div class="wrap">
      <main class="main">
        <header class="main__header">
          <div class="logo logo--left">
            <a href="">
              <img
                src="https://res.cloudinary.com/dlpust9lj/image/upload/v1720436456/ebhqmo659apqbsoigbmy.png"
                width="120px"
                class="img-fluid"
                alt=""
              />
            </a>
          </div>
        </header>
        <div class="main__content">
          <article class="animate-floating-labels row">
            <div class="col col--two">
              <section class="section">
                <div class="section__header">
                  <div class="layout-flex mb-4">
                    <h2
                      class="section__title layout-flex__item layout-flex__item--stretch"
                    >
                      Thông tin nhận hàng
                    </h2>
                  </div>
                </div>
                <div class="section__content">
                  <div class="fieldset">
                    <mat-form-field
                      class="w-100 fs-16 mt-2"
                      appearance="outline"
                    >
                      <mat-label>Email</mat-label>
                      <input
                        matInput
                        type="email"
                        required
                        formControlName="email"
                        [class.is-invalid]="
                          orderForm.get('email')?.invalid &&
                          orderForm.get('email')?.touched
                        "
                      />
                      @if(orderForm.get('email')!.hasError('required') ) {
                      <mat-error class="fs-12">
                        Email không được để trống
                      </mat-error>
                      } @if (orderForm.get('email')!.hasError('email') ) {
                      <mat-error class="fs-12">
                        Email không đúng định dạng. Ex: vit&#64;gmail.com
                      </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field
                      class="w-100 fs-16 mt-2"
                      appearance="outline"
                    >
                      <mat-label>Họ và tên</mat-label>
                      <input
                        matInput
                        type="text"
                        required
                        formControlName="name"
                        [class.is-invalid]="
                          orderForm.get('name')?.invalid &&
                          orderForm.get('name')?.touched
                        "
                      />
                      @if(orderForm.get('name')!.hasError('required')) {
                      <mat-error class="fs-12">
                        Họ và tên không được để trống
                      </mat-error>
                      } @if (orderForm.get('name')!.hasError('minlength')) {
                      <mat-error class="fs-12">
                        Họ và tên quá ngắn. Tối thiểu 5 ký tự
                      </mat-error>
                      }
                      <!-- @if (orderForm.get('name')!.hasError('maxlength')) {
                      <mat-error class="fs-12">
                        Họ và tên quá dài. Tối đa 25 ký tự
                      </mat-error>
                      } -->
                    </mat-form-field>
                    <mat-form-field
                      class="w-100 fs-16 mt-2"
                      appearance="outline"
                    >
                      <mat-label>Số điện thoại</mat-label>
                      <input
                        matInput
                        type="phone"
                        required
                        formControlName="phone"
                        [class.is-invalid]="
                          orderForm.get('phone')?.invalid &&
                          orderForm.get('phone')?.touched
                        "
                      />
                      @if(orderForm.get('phone')!.hasError('required')) {
                      <mat-error class="fs-12">
                        Số điện thoại không được để trống
                      </mat-error>
                      } @if(orderForm.get('phone')!.hasError('minlength') ||
                      orderForm.get('phone')!.hasError('maxlength')) {
                      <mat-error class="fs-12">
                        Số điện thoại phải chứa đúng 10 chữ số.
                      </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field
                      class="w-100 fs-16 mt-2"
                      appearance="outline"
                    >
                      <mat-label>Địa chỉ</mat-label>
                      <input
                        matInput
                        type="text"
                        required
                        formControlName="deliveryAddress"
                        [class.is-invalid]="
                          orderForm.get('deliveryAddress')?.invalid &&
                          orderForm.get('deliveryAddress')?.touched
                        "
                      />
                      @if(orderForm.get('deliveryAddress')!.hasError('required'))
                      {
                      <mat-error class="fs-12">
                        Địa chỉ không được để trống
                      </mat-error>
                      }
                      @if(orderForm.get('deliveryAddress')!.hasError('minlength'))
                      {
                      <mat-error class="fs-12">
                        Địa chỉ quá ngắn. Tối thiểu 10 ký tự
                      </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field
                      class="w-100 fs-16 mt-2"
                      appearance="outline"
                    >
                      <mat-label>Ghi chú</mat-label>
                      <textarea
                        matInput
                        rows="4"
                        formControlName="note"
                        [class.is-invalid]="
                          orderForm.get('note')?.invalid &&
                          orderForm.get('note')?.touched
                        "
                      ></textarea>
                      @if(orderForm.get('note')!.hasError('maxlength')) {
                      <mat-error class="fs-12">
                        Ghi chú quá dài. Tối đa 200 ký tự
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
              </section>
            </div>
            <div class="col col--two">
              <section class="section">
                <div class="section__header">
                  <div class="layout-flex">
                    <h2
                      class="section__title layout-flex__item layout-flex__item--stretch"
                    >
                      Thanh toán
                    </h2>
                    @if(orderForm.get('paymentMethod')!.invalid &&
                    orderForm.get('paymentMethod')!.touched) {
                    <mat-error style="color: #e46a76" class="fs-12">
                      Vui lòng chọn phương thức thanh toán
                    </mat-error>
                    }
                  </div>
                </div>
                <div class="section__content">
                  <div
                    class="content-box"
                    [ngClass]="{
                      error:
                        orderForm.get('paymentMethod')!.invalid &&
                        orderForm.get('paymentMethod')!.touched
                    }"
                  >
                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            id="cod"
                            name="paymentMethod"
                            type="radio"
                            value="COD"
                            class="input-radio"
                            required
                            formControlName="paymentMethod"
                            [class.is-invalid]="
                              orderForm.get('paymentMethod')!.invalid &&
                              orderForm.get('paymentMethod')!.touched
                            "
                          />
                        </div>
                        <label for="cod" class="radio__label">
                          <span id="cod" class="radio__label__primary"
                            >Thu hộ (COD)</span
                          >
                          <span class="radio__label__accessory">
                            <img
                              height="70px"
                              width="70px"
                              src="https://www.coolmate.me/images/COD.svg"
                              alt="COD"
                              style="object-fit: inherit"
                            />
                          </span>
                        </label>
                      </div>
                    </div>

                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            id="vnpay"
                            name="paymentMethod"
                            type="radio"
                            value="VNPAY"
                            class="input-radio"
                            required
                            formControlName="paymentMethod"
                            [class.is-invalid]="
                              orderForm.get('paymentMethod')!.invalid &&
                              orderForm.get('paymentMethod')!.touched
                            "
                          />
                        </div>
                        <label for="vnpay" class="radio__label">
                          <span class="radio__label__primary">VnPay</span>
                          <span class="radio__label__accessory">
                            <img
                              height="70px"
                              width="70px"
                              src="https://s-vnba-cdn.aicms.vn/vnba-media/23/8/16/vnpay-logo_64dc3da9d7a11.jpg"
                              alt="VNPAY"
                              style="object-fit: initial"
                            />
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            id="momo"
                            name="paymentMethod"
                            type="radio"
                            value="MOMO"
                            class="input-radio"
                            required
                            formControlName="paymentMethod"
                            [class.is-invalid]="
                              orderForm.get('paymentMethod')!.invalid &&
                              orderForm.get('paymentMethod')!.touched
                            "
                          />
                        </div>
                        <label for="momo" class="radio__label">
                          <span class="radio__label__primary">MoMo</span>
                          <span class="radio__label__accessory">
                            <img
                              src="https://test-payment.momo.vn/v2/gateway/images/logo-momo.png"
                              alt="Momo"
                            />
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </article>
          <div
            class="field__input-btn-wrapper field__input-btn-wrapper--vertical hide-on-desktop"
          >
            <button type="submit" class="btn btn-checkout spinner">
              <span class="spinner-label">ĐẶT HÀNG</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="spinner-loader">
                <use href="#spinner"></use>
              </svg>
            </button>

            <a href="/cart" class="text-primary" style="color: #008b4b">
              <i class="previous-link__arrow">❮</i>
              <span class="" style="color: #008b4b">Quay về giỏ hàng</span>
            </a>
          </div>
        </div>
      </main>
      <aside class="sidebar">
        <div class="sidebar__header">
          <p class="sidebar__title">Đơn hàng ({{ cart.length }} sản phẩm)</p>
        </div>
        <div class="sidebar__content">
          <div
            id="order-summary"
            class="order-summary order-summary--is-collapsed"
          >
            <div class="order-summary__sections">
              <div
                class="order-summary__section order-summary__section--product-list order-summary__section--is-scrollable order-summary--collapse-element"
              >
                <table class="product-table" id="product-table">
                  <caption class="visually-hidden">
                    Chi tiết đơn hàng
                  </caption>
                  <thead class="product-table__header">
                    <tr>
                      <th>
                        <span class="visually-hidden">Ảnh sản phẩm</span>
                      </th>
                      <th>
                        <span class="visually-hidden">Mô tả</span>
                      </th>
                      <th>
                        <span class="visually-hidden">Sổ lượng</span>
                      </th>
                      <th>
                        <span class="visually-hidden">Đơn giá</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of cart; track $index) {
                    <tr class="product">
                      <td class="product__image">
                        <div class="product-thumbnail">
                          <div class="product-thumbnail__wrapper">
                            <img
                              [src]="item.product.thumbnail"
                              alt=""
                              class="product-thumbnail__image"
                            />
                          </div>
                          <span class="product-thumbnail__quantity">{{
                            item.quantity
                          }}</span>
                        </div>
                      </td>
                      <th class="product__description">
                        <span class="product__description__name">
                          {{ item.product.title }}
                        </span>
                      </th>
                      <td class="product__quantity visually-hidden">
                        <em>Số lượng:</em> {{ item.product.quantity }}
                      </td>
                      <td class="product__price">
                        {{ item.product.officialPrice | number : "1.0" }}₫
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
              <div
                class="order-summary__section order-summary__section--discount-code"
                id="discountCode"
              >
                <div class="edit_checkout animate-floating-labels">
                  <div class="fieldset">
                    <div class="field">
                      <div class="voucher mt-3">
                        <i
                          class="fa-solid fa-ticket fa-bounce"
                          style="color: #008b4b"
                        ></i>

                        <div class="ms-1 text-primary">
                          Nature's Harvest Voucher
                        </div>
                        <div style="flex: 1"></div>
                        @if (isAppliedVoucher) {
                        <button
                          type="button"
                          class="voucher-btn"
                          disabled="true"
                          style="color: #a79e9e"
                        >
                          Đã áp dụng mã giảm giá
                        </button>
                        }@else {
                        <button
                          type="button"
                          class="voucher-btn"
                          (click)="selectVoucher()"
                        >
                          Chọn mã giảm giá
                        </button>
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="order-summary__section order-summary__section--total-lines order-summary--collapse-element"
                id="orderSummary"
              >
                <table class="total-line-table">
                  <caption class="visually-hidden">
                    Tổng giá trị
                  </caption>
                  <thead>
                    <tr>
                      <td><span class="visually-hidden">Mô tả</span></td>
                      <td><span class="visually-hidden">Giá tiền</span></td>
                    </tr>
                  </thead>
                  <tbody class="total-line-table__tbody">
                    <tr class="total-line total-line--subtotal">
                      <th class="total-line__name">Tạm tính</th>
                      <td class="total-line__price">
                        {{ totalAmount | number : "1.0" }}₫
                      </td>
                    </tr>

                    <tr class="total-line total-line--shipping-fee">
                      <th class="total-line__name">Phí vận chuyển</th>
                      <td class="total-line__price">
                        <span class="origin-price">-</span>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot class="total-line-table__footer">
                    <tr class="total-line payment-due">
                      <th class="total-line__name">
                        <span class="payment-due__label-total">
                          Tổng cộng
                        </span>
                      </th>
                      <td class="total-line__price">
                        <span class="payment-due__price"
                          >{{ totalAmount | number : "1.0" }}₫</span
                        >
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div
                class="order-summary__nav field__input-btn-wrapper hide-on-mobile layout-flex--row-reverse"
              >
                <button type="submit" class="btn btn-checkout spinner">
                  <span class="spinner-label">ĐẶT HÀNG</span>
                </button>

                <a routerLink="/view-cart" class="previous-link mt-5">
                  <i class="previous-link__arrow">❮</i>
                  <span class="previous-link__content">Quay về giỏ hàng</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </form>
</div>
}@loading {
<div class="d-flex align-items-center justify-content-center vh-100">
  <mat-spinner></mat-spinner>
</div>
}
