<div data-tg-refresh="checkout" id="checkout" class="content">
  <form id="checkoutForm" method="post">
    <input type="hidden" name="_method" value="patch" />
    <div class="wrap">
      <main class="main">
        <header class="main__header">
          <div class="logo logo--left">
            <h1 class="shop__name">
              <a class="text-primary" routerLink="/">Nature's Harvest</a>
            </h1>
          </div>
        </header>
        <div class="main__content">
          <article class="animate-floating-labels row">
            <div class="col col--two">
              <section class="section">
                <div class="section__header">
                  <div class="layout-flex">
                    <h2
                      class="section__title layout-flex__item layout-flex__item--stretch"
                    >
                      Thông tin nhận hàng
                    </h2>

                    <span class="text-primary">{{ userResponse?.name }}</span>
                  </div>
                </div>
                <div class="section__content">
                  <div class="fieldset">
                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="email" class="field__label">
                          Email <span style="color: red"> *</span></label
                        >
                        <input
                          name="email"
                          id="email"
                          type="email"
                          class="field__input"
                        />
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="billingName" class="field__label"
                          >Họ và tên <span style="color: red"> *</span></label
                        >
                        <input
                          name="billingName"
                          id="billingName"
                          type="text"
                          class="field__input"
                        />
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="billingPhone" class="field__label">
                          Số điện thoại <span style="color: red"> *</span>
                        </label>
                        <input
                          name="billingPhone"
                          id="billingPhone"
                          type="tel"
                          class="field__input"
                        />
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="billingAddress" class="field__label">
                          Địa chỉ nhận hàng <span style="color: red"> *</span>
                        </label>
                        <input
                          name="billingAddress"
                          id="billingAddress"
                          type="text"
                          class="field__input"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <div class="fieldset">
                <h3 class="visually-hidden">Ghi chú</h3>
                <div class="field">
                  <div class="field__input-wrapper">
                    <label for="note" class="field__label">
                      Ghi chú (tùy chọn)
                    </label>
                    <textarea
                      name="note"
                      id="note"
                      class="field__input"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col--two">
              <section class="section">
                <div class="section__header">
                  <div class="layout-flex">
                    <h2
                      class="section__title layout-flex__item layout-flex__item--stretch"
                    >
                      Vận chuyển
                    </h2>
                  </div>
                </div>
                <div class="section__content"></div>
              </section>

              <section class="section">
                <div class="section__header">
                  <div class="layout-flex">
                    <h2
                      class="section__title layout-flex__item layout-flex__item--stretch"
                    >
                      Thanh toán
                    </h2>
                  </div>
                </div>
                <div class="section__content">
                  <div class="content-box">
                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            id="cod"
                            name="paymentMethod"
                            type="radio"
                            value="Thu hộ (COD)"
                            class="input-radio"
                            required
                          />
                        </div>
                        <label for="cod" class="radio__label">
                          <span id="cod" class="radio__label__primary"
                            >Thu hộ (COD)</span
                          >
                          <span class="radio__label__accessory">
                            <img
                              height="80px"
                              width="80px"
                              src="https://www.coolmate.me/images/COD.svg"
                              alt="VNPAY"
                            />
                          </span>
                        </label>
                      </div>
                    </div>

                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            id="vnpay"
                            name="paymentMethod"
                            type="radio"
                            value="vnPay"
                            class="input-radio"
                            required
                          />
                        </div>
                        <label for="vnpay" class="radio__label">
                          <span class="radio__label__primary">VNPAY</span>
                          <span class="radio__label__accessory">
                            <img
                              height="80px"
                              width="80px"
                              src="https://s-vnba-cdn.aicms.vn/vnba-media/23/8/16/vnpay-logo_64dc3da9d7a11.jpg"
                              alt="VNPAY"
                            />
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </article>
          <div
            class="field__input-btn-wrapper field__input-btn-wrapper--vertical hide-on-desktop"
          >
            <button type="submit" class="btn btn-checkout spinner">
              <span class="spinner-label">ĐẶT HÀNG</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="spinner-loader">
                <use href="#spinner"></use>
              </svg>
            </button>

            <a href="/cart" class="previous-link">
              <i class="previous-link__arrow">❮</i>
              <span class="previous-link__content">Quay về giỏ hàng</span>
            </a>
          </div>
        </div>
      </main>
      <aside class="sidebar">
        <div class="sidebar__header">
          <p class="sidebar__title">Đơn hàng (1 sản phẩm)</p>
        </div>
        <div class="sidebar__content">
          <div
            id="order-summary"
            class="order-summary order-summary--is-collapsed"
          >
            <div class="order-summary__sections">
              <div
                class="order-summary__section order-summary__section--product-list order-summary__section--is-scrollable order-summary--collapse-element"
              >
                <table class="product-table" id="product-table">
                  <caption class="visually-hidden">
                    Chi tiết đơn hàng
                  </caption>
                  <thead class="product-table__header">
                    <tr>
                      <th>
                        <span class="visually-hidden">Ảnh sản phẩm</span>
                      </th>
                      <th>
                        <span class="visually-hidden">Mô tả</span>
                      </th>
                      <th>
                        <span class="visually-hidden">Sổ lượng</span>
                      </th>
                      <th>
                        <span class="visually-hidden">Đơn giá</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of cart; track $index) {
                    <tr class="product">
                      <td class="product__image">
                        <div class="product-thumbnail">
                          <div
                            class="product-thumbnail__wrapper"
                            data-tg-static=""
                          >
                            <img
                              [src]="item.product.thumbnail"
                              alt=""
                              class="product-thumbnail__image"
                            />
                          </div>
                          <span class="product-thumbnail__quantity">1</span>
                        </div>
                      </td>
                      <th class="product__description">
                        <span class="product__description__name">
                          {{ item.product.title }}
                        </span>
                      </th>
                      <td class="product__quantity visually-hidden">
                        <em>Số lượng:</em> {{ item.product.quantity }}
                      </td>
                      <td class="product__price">
                        {{ item.product.price | number : "1.0" }}₫
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
              <div
                class="order-summary__section order-summary__section--discount-code"
                id="discountCode"
              >
                <h3 class="visually-hidden">Mã khuyến mại</h3>
                <div class="edit_checkout animate-floating-labels">
                  <div class="fieldset">
                    <div class="field">
                      <div class="field__input-btn-wrapper">
                        <div class="field__input-wrapper">
                          <label for="reductionCode" class="field__label"
                            >Nhập mã giảm giá</label
                          >
                          <input
                            name="reductionCode"
                            id="reductionCode"
                            type="text"
                            class="field__input"
                            autocomplete="off"
                          />
                        </div>
                        <button
                          class="field__input-btn btn spinner btn--disabled"
                          type="button"
                          disabled=""
                        >
                          <span class="spinner-label">Áp dụng</span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="spinner-loader"
                          >
                            <use href="#spinner"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="order-summary__section order-summary__section--total-lines order-summary--collapse-element"
                id="orderSummary"
              >
                <table class="total-line-table">
                  <caption class="visually-hidden">
                    Tổng giá trị
                  </caption>
                  <thead>
                    <tr>
                      <td><span class="visually-hidden">Mô tả</span></td>
                      <td><span class="visually-hidden">Giá tiền</span></td>
                    </tr>
                  </thead>
                  <tbody class="total-line-table__tbody">
                    <tr class="total-line total-line--subtotal">
                      <th class="total-line__name">Tạm tính</th>
                      <td class="total-line__price">
                        {{ getTotalPrice() | number : "1.0" }}₫
                      </td>
                    </tr>

                    <tr class="total-line total-line--shipping-fee">
                      <th class="total-line__name">Phí vận chuyển</th>
                      <td class="total-line__price">
                        <span class="origin-price"></span>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot class="total-line-table__footer">
                    <tr class="total-line payment-due">
                      <th class="total-line__name">
                        <span class="payment-due__label-total">
                          Tổng cộng
                        </span>
                      </th>
                      <td class="total-line__price">
                        <span class="payment-due__price"
                          >{{ getTotalPrice() | number : "1.0" }}₫</span
                        >
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div
                class="order-summary__nav field__input-btn-wrapper hide-on-mobile layout-flex--row-reverse"
              >
                <button type="submit" class="btn btn-checkout spinner">
                  <span class="spinner-label">ĐẶT HÀNG</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="spinner-loader"
                  >
                    <use href="#spinner"></use>
                  </svg>
                </button>

                <a routerLink="/view-cart" class="previous-link">
                  <i class="previous-link__arrow">❮</i>
                  <span class="previous-link__content">Quay về giỏ hàng</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </form>
</div>
