<div
  id="spinner"
  class="w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center"
>
  <div class="spinner-grow text-primary" role="status"></div>
</div>

<app-header></app-header>

<div class="container-fluid py-5 mb-5 hero-header">
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-md-12 col-lg-7">
        <h4 class="mb-3 text-secondary">100% Organic Foods</h4>
        <h1 class="mb-5 display-3 text-primary">
          Organic Veggies & Fruits Foods
        </h1>
        <div class="position-relative mx-auto">
          <input
            class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill"
            type="text"
            placeholder="Tìm kiếm"
          />
          <button
            type="submit"
            class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100"
            style="top: 0; right: 25%"
          >
            Submit Now
          </button>
        </div>
      </div>
      <div class="col-md-12 col-lg-5">
        <div
          id="carouselId"
          class="carousel slide position-relative"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active rounded">
              <img
                src="https://res.cloudinary.com/dl3rsgucq/image/upload/v1717215697/hero-img-1_xht0jo.png"
                class="img-fluid w-100 h-100 bg-secondary rounded"
                alt="First slide"
              />
              <a href="#" class="btn px-4 py-2 text-white rounded">Fruits</a>
            </div>
            <div class="carousel-item rounded">
              <img
                src="https://res.cloudinary.com/dl3rsgucq/image/upload/v1717215697/hero-img-2_x2thzo.jpg"
                class="img-fluid w-100 h-100 rounded"
                alt="Second slide"
              />
              <a href="#" class="btn px-4 py-2 text-white rounded"
                >Vegetables</a
              >
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselId"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselId"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid featurs py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fas fa-car-side fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>Miễn phí vận chuyển</h5>
            <p class="mb-0">Miễn phí cho đơn hàng trên 500k</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fas fa-user-shield fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>Thanh toán bảo mật</h5>
            <p class="mb-0">Thanh toán bảo đảm 100%</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fas fa-exchange-alt fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>Hoàn trả trong 30 ngày</h5>
            <p class="mb-0">Đảm bảo hoàn trả trong 30 ngày</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fa fa-phone-alt fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>Hỗ trợ 24/7</h5>
            <p class="mb-0">Hỗ trợ nhanh chóng mọi lúc</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="awe-section-3" style="margin: 100px 0">
  <div class="section_best_deal" id="section_best_deal">
    <div class="container">
      <div class="border-red">
        <div class="block-title">
          <h2>
            <a href="san-pham-noi-bat" title="Ưu đãi trong tuần">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 511.548 511.548"
                style="enable-background: new 0 0 511.548 511.548"
                xml:space="preserve"
                width="512"
                height="512"
              >
                <g>
                  <path
                    style="fill: #ff6200"
                    d="M394.441,191.548C307.52,95.547,287.775,20.882,287.775,20.882s-15.054,6.718-32,22.11   l-21.333,244.556l21.333,209h0.001c104.842-0.001,189.833-84.992,189.833-189.833C445.608,263.409,421.423,221.349,394.441,191.548   z"
                  ></path>
                  <path
                    style="fill: #fd7d21"
                    d="M223.775,84.882c-10.873,21.747-13.434,46.265-13.33,65.08c0.1,18.252-12.758,34.004-30.655,37.584   c-12.504,2.501-25.43-1.413-34.447-10.43l-17.568-17.568c0,0-26.044,35.911-30.507,42.667   c-20.047,30.346-31.613,66.786-31.321,105.945c0.778,104.581,85.244,188.388,189.828,188.388V42.992   C244.69,53.06,232.797,66.838,223.775,84.882z"
                  ></path>
                  <g>
                    <path
                      style="fill: #ffb62d"
                      d="M405.561,181.48c-43.372-47.903-69.147-90.072-83.134-117.013    c-15.148-29.181-20.112-47.276-20.15-47.42L297.768,0l-16.104,7.183c-0.917,0.409-11.941,5.434-25.89,16.238l-10.667,18.794    l10.667,22.117c8.336-9.351,16.934-16.341,23.849-21.18c11.282,28.696,39.881,87.981,103.699,158.465    c14.217,15.702,47.285,57.376,47.285,105.099c0,96.403-78.43,174.833-174.832,174.833h-0.001l-10.667,19.333l10.667,10.667h0.001    c112.945-0.001,204.832-91.888,204.832-204.833C460.608,265.764,440.544,220.118,405.561,181.48z"
                    ></path>
                    <path
                      style="fill: #fdcb02"
                      d="M132.499,430.925c-32.898-32.646-51.206-76.285-51.553-122.876    c-0.26-34.878,9.712-68.616,28.837-97.565c2.335-3.534,11.702-16.602,19.833-27.879l5.119,5.119    c12.592,12.592,30.53,18.025,47.996,14.532c24.888-4.978,42.852-27.004,42.713-52.375c-0.087-15.701,1.881-38.558,11.746-58.29    c5.351-10.702,11.883-19.741,18.584-27.258V23.421c-14.692,11.381-32.628,29.175-45.417,54.753    c-12.515,25.031-15.018,52.9-14.913,71.87c0.061,11.04-7.761,20.626-18.598,22.793c-7.598,1.518-15.414-0.844-20.898-6.328    l-29.997-29.997l-10.319,14.229c-1.071,1.477-26.289,36.256-30.88,43.205c-22.419,33.937-34.109,73.47-33.806,114.325    c0.406,54.565,21.864,105.686,60.421,143.948c38.554,38.259,89.839,59.329,144.407,59.329v-30    C209.176,481.548,165.396,463.57,132.499,430.925z"
                    ></path>
                  </g>
                  <g>
                    <path
                      style="fill: #ed3800"
                      d="M255.775,206.042c-0.111,0-0.222,0.004-0.333,0.004l-24.997,117.329l24.997,117.329    c0.111,0,0.222,0.004,0.333,0.004c64.801,0,117.333-52.532,117.333-117.333C373.108,258.574,320.576,206.042,255.775,206.042z"
                    ></path>
                    <path
                      style="fill: #ff4b00"
                      d="M138.441,323.375c0,64.69,52.352,117.149,117,117.329V206.046    C190.794,206.226,138.441,258.685,138.441,323.375z"
                    ></path>
                  </g>
                  <g>
                    <polygon
                      style="fill: #d9e7ec"
                      points="319.432,254.503 286.177,254.503 255.441,299.513 245.108,340.882 255.441,348.214   "
                    ></polygon>
                    <path
                      style="fill: #d9e7ec"
                      d="M306.248,317.472c-20.858,0-36.601,13.971-36.601,38.372c0,24.597,15.742,38.371,36.601,38.371    s36.601-13.774,36.601-38.371C342.849,331.443,327.106,317.472,306.248,317.472z M306.248,372.963    c-4.329,0-8.658-3.936-8.658-17.12c0-13.184,4.329-17.12,8.658-17.12s8.658,3.936,8.658,17.12    C314.906,369.027,310.577,372.963,306.248,372.963z"
                    ></path>
                    <polygon
                      style="fill: #fafcfd"
                      points="225.372,392.247 255.441,348.214 255.441,299.513 192.117,392.247   "
                    ></polygon>
                    <path
                      style="fill: #fafcfd"
                      d="M241.902,290.907c0-24.4-15.742-38.372-36.601-38.372s-36.601,13.971-36.601,38.372    c0,24.597,15.742,38.372,36.601,38.372S241.902,315.504,241.902,290.907z M196.643,290.907c0-13.184,4.329-17.12,8.658-17.12    c4.329,0,8.658,3.936,8.658,17.12c0,13.184-4.329,17.12-8.658,17.12C200.972,308.027,196.643,304.091,196.643,290.907z"
                    ></path>
                  </g>
                </g>
              </svg>
              Ưu đãi trong tuần</a
            >
          </h2>
        </div>
        <div class="tab-content mt-5">
          <div id="tab-1" class="tab-pane fade show p-0 active">
            <div class="row">
              <div class="col-lg-12">
                <div class="row g-4">
                  @for (product of promotionalProducts; track $index) {
                  <div class="col-6 col-md-6 col-lg-3 text-center">
                    <div class="card">
                      <div
                        class="badge bg-primary card-badge card-badge-start text-uppercase"
                        style="left: 5px; background-color: red !important"
                      >
                        -{{ product.discount }}%
                      </div>

                      <div class="card-img">
                        <a
                          class="card-img-hover"
                          routerLink="product-detail/{{ product.id }}"
                        >
                          <img
                            class="card-img-top card-img-back"
                            [src]="product.thumbnail"
                            alt="..."
                            width="304"
                            height="213"
                          />
                          <img
                            class="card-img-top card-img-front"
                            [src]="product.thumbnail"
                            alt="..."
                            width="304"
                            height="213"
                          />
                        </a>

                        <!-- Actions -->
                        <div class="card-actions">
                          <span class="card-action">
                            <button
                              class="btn btn-xs btn-circle btn-white-primary"
                              (click)="quickViewProduct(product.id)"
                            >
                              <i style="color: #008b4b" class="fas fa-eye"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button
                              class="btn btn-xs btn-circle btn-white-primary"
                              data-toggle="button"
                            >
                              <i
                                style="color: #008b4b"
                                class="fas fa-shopping-cart"
                              ></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button
                              class="btn btn-xs btn-circle btn-white-primary"
                              data-toggle="button"
                            >
                              <i
                                style="color: #008b4b"
                                class="fas fa-heart"
                              ></i>
                            </button>
                          </span>
                        </div>
                      </div>

                      <!-- Body -->
                      <div class="card-body px-0">
                        <!-- Category -->
                        <div class="fs-xs"></div>

                        <!-- Title -->
                        <div class="fw-bold">
                          <a
                            class="text-body"
                            routerLink="product-detail/{{ product.id }}"
                          >
                            {{ product.title }}
                          </a>
                        </div>

                        <div class="fx-bold">
                          <p class="text-center"></p>
                        </div>

                        <!-- Price -->
                        <div class="fw-bold">
                          <span
                            class="fs-xs text-gray-350 text-decoration-line-through"
                            style="padding: 10px; font-size: 14px"
                            >{{ product.originalPrice | number : "1.0" }}₫</span
                          >
                          <span class="text-primary" style="font-size: 14px">
                            {{ product.officialPrice | number : "1.0" }}₫
                          </span>
                        </div>
                        <div>
                          <button
                            (click)="
                              addProductToCart(product.id, product.title)
                            "
                            class="btn border border-secondary rounded-pill px-3 text-primary my-2"
                          >
                            <i class="fa fa-shopping-bag me-2 text-primary"></i>
                            Thêm vào giỏ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section_3_banner py-5">
  <div class="container">
    <div class="box_banner_index row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="box_3_banner">
          <div class="three_banner">
            <img
              width="520"
              height="305"
              class="lazyload loaded"
              src="//bizweb.dktcdn.net/100/514/629/themes/951567/assets/img_3banner_1.jpg?1718181939137"
              data-src="//bizweb.dktcdn.net/100/514/629/themes/951567/assets/img_3banner_1.jpg?1718181939137"
              alt="Nông sản tươi mới <br> Sản phẩm 100% từ <br> Thiên nhiên "
              data-was-processed="true"
            />
          </div>
          <div class="banner-text">
            <h2>
              Nông sản tươi mới <br />
              Sản phẩm 100% từ <br />
              Thiên nhiên
            </h2>
            <a routerLink="/products/all" class="btn btn-xs" title="Xem ngay"
              >Xem ngay</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="box_3_banner">
          <div class="three_banner">
            <img
              width="520"
              height="305"
              class="lazyload loaded"
              src="//bizweb.dktcdn.net/100/514/629/themes/951567/assets/img_3banner_2.jpg?1718181939137"
              data-src="//bizweb.dktcdn.net/100/514/629/themes/951567/assets/img_3banner_2.jpg?1718181939137"
              alt="Bữa sáng lành mạnh <br> Sữa tươi nguyên chất <br> Tiệt trùng "
              data-was-processed="true"
            />
          </div>
          <div class="banner-text">
            <h2>
              Bữa sáng lành mạnh <br />
              Sữa tươi nguyên chất <br />
              Tiệt trùng
            </h2>
            <a routerLink="/products/all" class="btn btn-xs" title="Xem ngay"
              >Xem ngay</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="box_3_banner">
          <div class="three_banner">
            <img
              width="520"
              height="305"
              class="lazyload loaded"
              src="//bizweb.dktcdn.net/100/514/629/themes/951567/assets/img_3banner_3.jpg?1718181939137"
              data-src="//bizweb.dktcdn.net/100/514/629/themes/951567/assets/img_3banner_3.jpg?1718181939137"
              alt="Rau củ hữu cơ 100% <br> Sạch sẻ và an toàn  <br> Chất lượng "
              data-was-processed="true"
            />
          </div>
          <div class="banner-text">
            <h2>
              Rau củ hữu cơ 100% <br />
              Sạch sẻ và an toàn <br />
              Chất lượng
            </h2>
            <a routerLink="/products/all" class="btn btn-xs" title="Xem ngay"
              >Xem ngay</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid fruite py-5">
  <div class="container">
    <div class="tab-class text-center">
      <div class="row g-4">
        <div class="col-lg-4 text-start mt-4">
          <h2 class="text-primary">Sản phẩm hữu cơ của chúng tôi</h2>
        </div>
        <div class="col-lg-8 text-end">
          <ul class="nav nav-pills d-inline-flex text-center mb-5">
            @for (category of categoriesWithSubcategories$ | async; track
            category.id ;let i =$index) {
            <li class="nav-item">
              <a
                class="d-flex m-2 py-2 bg-light rounded-pill"
                [ngClass]="{ active: selectedCategoryId === category.id }"
                data-bs-toggle="pill"
                href="javascript:void(0);"
                (click)="
                  getProducts(
                    keyword,
                    category.id,
                    0,
                    sortBy,
                    arrange,
                    currentPage,
                    itemsPerPage
                  )
                "
              >
                <span class="text-dark" style="width: 130px">{{
                  category.name
                }}</span>
              </a>
            </li>
            }
          </ul>
        </div>
      </div>
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row">
            <div class="col-lg-12">
              <div class="row g-4">
                @for (product of products; track $index) {
                <div class="col-6 col-md-6 col-lg-3">
                  <div class="card">
                    <div
                      class="badge bg-primary card-badge card-badge-start text-uppercase"
                      style="left: 5px; background-color: red !important"
                    >
                      -{{ product.discount }}%
                    </div>

                    <div class="card-img">
                      <a
                        class="card-img-hover"
                        routerLink="product-detail/{{ product.id }}"
                      >
                        <img
                          class="card-img-top card-img-back"
                          [src]="product.thumbnail"
                          alt="..."
                          width="304"
                          height="213"
                        />
                        <img
                          class="card-img-top card-img-front"
                          [src]="product.thumbnail"
                          alt="..."
                          width="304"
                          height="213"
                        />
                      </a>

                      <!-- Actions -->
                      <div class="card-actions">
                        <span class="card-action">
                          <button
                            class="btn btn-xs btn-circle btn-white-primary"
                            (click)="quickViewProduct(product.id)"
                          >
                            <i style="color: #008b4b" class="fas fa-eye"></i>
                          </button>
                        </span>
                        <span class="card-action">
                          <button
                            class="btn btn-xs btn-circle btn-white-primary"
                            data-toggle="button"
                          >
                            <i
                              style="color: #008b4b"
                              class="fas fa-shopping-cart"
                            ></i>
                          </button>
                        </span>
                        <span class="card-action">
                          <button
                            class="btn btn-xs btn-circle btn-white-primary"
                            data-toggle="button"
                          >
                            <i style="color: #008b4b" class="fas fa-heart"></i>
                          </button>
                        </span>
                      </div>
                    </div>

                    <!-- Body -->
                    <div class="card-body px-0">
                      <!-- Category -->
                      <div class="fs-xs"></div>

                      <!-- Title -->
                      <div class="fw-bold">
                        <a
                          class="text-body"
                          routerLink="product-detail/{{ product.id }}"
                        >
                          {{ product.title }}
                        </a>
                      </div>

                      <div class="fx-bold">
                        <p class="text-center"></p>
                      </div>

                      <!-- Price -->
                      <div class="fw-bold">
                        <span
                          class="fs-xs text-gray-350 text-decoration-line-through"
                          style="padding: 10px; font-size: 14px"
                          >{{ product.officialPrice | number : "1.0" }}₫</span
                        >
                        <span class="text-primary" style="font-size: 14px"
                          >{{ product.originalPrice | number : "1.0" }}₫</span
                        >
                      </div>
                      <div>
                        <button
                          (click)="addProductToCart(product.id, product.title)"
                          class="btn border border-secondary rounded-pill px-3 text-primary my-2"
                        >
                          <i class="fa fa-shopping-bag me-2 text-primary"></i>
                          Thêm vào giỏ
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid service py-5">
  <div class="container py-5">
    <div class="row g-4 justify-content-center">
      <div class="col-md-6 col-lg-4">
        <a href="#">
          <div
            class="service-item bg-secondary rounded border border-secondary"
          >
            <img
              src="https://res-console.cloudinary.com/dl3rsgucq/thumbnails/v1/image/upload/v1717215699/ZmVhdHVyLTFfdXdwN213/drilldown"
              class="img-fluid rounded-top w-100"
              alt=""
            />
            <div class="px-4 rounded-bottom">
              <div class="service-content bg-primary text-center p-4 rounded">
                <h5 class="text-white">Fresh Apples</h5>
                <h3 class="mb-0">20% OFF</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="#">
          <div class="service-item bg-dark rounded border border-dark">
            <img
              src="https://res-console.cloudinary.com/dl3rsgucq/thumbnails/v1/image/upload/v1717215699/ZmVhdHVyLTJfc3ZuNnV0/drilldown"
              class="img-fluid rounded-top w-100"
              alt=""
            />
            <div class="px-4 rounded-bottom">
              <div class="service-content bg-light text-center p-4 rounded">
                <h5 class="text-primary">Tasty Fruits</h5>
                <h3 class="mb-0">Free delivery</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="#">
          <div class="service-item bg-primary rounded border border-primary">
            <img
              src="https://res-console.cloudinary.com/dl3rsgucq/thumbnails/v1/image/upload/v1717215699/ZmVhdHVyLTNfb2ZxeDh3/drilldown"
              class="img-fluid rounded-top w-100"
              alt=""
            />
            <div class="px-4 rounded-bottom">
              <div class="service-content bg-secondary text-center p-4 rounded">
                <h5 class="text-white">Exotic Vegitable</h5>
                <h3 class="mb-0">Discount 30$</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid banner bg-secondary my-5">
  <div class="container py-5">
    <div class="row g-4 align-items-center">
      <div class="col-lg-6">
        <div class="py-4">
          <h1 class="display-3 text-white">Trái cây tươi</h1>
          <p class="fw-normal display-3 text-dark mb-4">
            trong cửa hàng chúng tôi
          </p>
          <p class="mb-4 text-dark">
            The generated Lorem Ipsum is therefore always free from repetition
            injected humour, or non-characteristic words etc.
          </p>
          <a
            href="#"
            class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5"
            >BUY</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative">
          <img
            src="https://res-console.cloudinary.com/dl3rsgucq/thumbnails/v1/image/upload/v1717215697/YmFuZXItMV9wbmhwOTY=/drilldown"
            class="img-fluid w-100 rounded"
            alt=""
          />
          <div
            class="d-flex align-items-center justify-content-center bg-white rounded-circle position-absolute"
            style="width: 140px; height: 140px; top: 0; left: 0"
          >
            <div class="d-flex flex-column">
              <span class="h6 mb-0">Giảm giá sốc</span>
              <span class="h4 text-muted mb-0">20.000đ</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section End -->

<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center mx-auto mb-5" style="max-width: 700px">
      <h1 class="display-4">Bestseller</h1>
      <p>
        Latin words, combined with a handful of model sentence structures, to
        generate Lorem Ipsum which looks reasonable.
      </p>
    </div>
    <div class="row g-4">
      @for (product of bestSellerProducts; track $index) {
      <div class="col-lg-6 col-xl-4">
        <div class="p-4 rounded bg-light">
          <div class="row align-items-center">
            <div class="col-6">
              <img
                [src]="product.thumbnail"
                class="rounded-circle w-100"
                width="142px"
                height="99px"
                alt=""
              />
            </div>
            <div class="col-6">
              <a href="#" class="h5">{{ product.title }}</a>
              <div class="d-flex my-3">
                @for (star of [1, 2, 3, 4, 5]; track $index; let i = $index) {
                @if (product.averageRating >= i + 1) {
                <i class="fas fa-star text-primary"></i>
                }@else if ( product.averageRating > i && product.averageRating <
                i + 1) {
                <i class="fas fa-star-half-alt text-primary"></i>

                } @else {
                <i class="fas fa-star"></i>
                } }
              </div>
              <h6 class="mb-2">
                {{ product.officialPrice | number : "1.0" }}₫
              </h6>
              <h6 class="mb-2">Lượt mua: {{ product.purchases }}</h6>
              <button
                type="button"
                (click)="addProductToCart(product.id, product.title)"
                class="btn border border-secondary rounded-pill text-primary me-2"
              >
                <i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm vào
                giỏ
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<!-- Bestsaler Product End -->

<!-- Fact Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="bg-light p-5 rounded">
      <div class="row g-4 justify-content-center">
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>Khách hàng hài lòng</h4>
            <h1>1963</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>Chất lượng dịch vụ</h4>
            <h1>99%</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>Giấy chứng nhận chất lượng</h4>
            <h1>33</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>Sản phẩm có sẵn</h4>
            <h1>789</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fact Start -->

<!-- Tastimonial Start -->
<div class="container-fluid testimonial py-5">
  <div class="container py-5">
    <div class="testimonial-header text-center">
      <h4 class="text-primary">Our Testimonial</h4>
      <h1 class="display-5 mb-5 text-dark">Our Client Saying!</h1>
    </div>
    <div class="testimonial-carousel">
      <div class="testimonial-item img-border-radius bg-light rounded p-4">
        <div class="position-relative">
          <i
            class="fa fa-quote-right fa-2x text-secondary position-absolute"
            style="bottom: 30px; right: 0"
          ></i>
          <div class="mb-4 pb-4 border-bottom border-secondary">
            <p class="mb-0">
              Lorem Ipsum is simply dummy text of the printing Ipsum has been
              the industry's standard dummy text ever since the 1500s,
            </p>
          </div>
          <div class="d-flex align-items-center flex-nowrap">
            <div class="bg-secondary rounded">
              <img
                src="https://res.cloudinary.com/dl3rsgucq/image/upload/v1717215697/hero-img-1_xht0jo.png"
                class="img-fluid rounded"
                style="width: 100px; height: 100px"
                alt=""
              />
            </div>
            <div class="ms-4 d-block">
              <h4 class="text-dark">Client Name</h4>
              <p class="m-0 pb-3">Profession</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item img-border-radius bg-light rounded p-4">
        <div class="position-relative">
          <i
            class="fa fa-quote-right fa-2x text-secondary position-absolute"
            style="bottom: 30px; right: 0"
          ></i>
          <div class="mb-4 pb-4 border-bottom border-secondary">
            <p class="mb-0">
              Lorem Ipsum is simply dummy text of the printing Ipsum has been
              the industry's standard dummy text ever since the 1500s,
            </p>
          </div>
          <div class="d-flex align-items-center flex-nowrap">
            <div class="bg-secondary rounded">
              <img
                src="https://res.cloudinary.com/dl3rsgucq/image/upload/v1717215697/hero-img-1_xht0jo.png"
                class="img-fluid rounded"
                style="width: 100px; height: 100px"
                alt=""
              />
            </div>
            <div class="ms-4 d-block">
              <h4 class="text-dark">Client Name</h4>
              <p class="m-0 pb-3">Profession</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item img-border-radius bg-light rounded p-4">
        <div class="position-relative">
          <i
            class="fa fa-quote-right fa-2x text-secondary position-absolute"
            style="bottom: 30px; right: 0"
          ></i>
          <div class="mb-4 pb-4 border-bottom border-secondary">
            <p class="mb-0">
              Lorem Ipsum is simply dummy text of the printing Ipsum has been
              the industry's standard dummy text ever since the 1500s,
            </p>
          </div>
          <div class="d-flex align-items-center flex-nowrap">
            <div class="bg-secondary rounded">
              <img
                src="https://res-console.cloudinary.com/dl3rsgucq/thumbnails/v1/image/upload/v1717215698/dGVzdGltb25pYWwtMV9jZWhicGE=/drilldown"
                class="img-fluid rounded"
                style="width: 100px; height: 100px"
                alt=""
              />
            </div>
            <div class="ms-4 d-block">
              <h4 class="text-dark">Client Name</h4>
              <p class="m-0 pb-3">Profession</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
<a
  href="#"
  class="btn btn-primary border-3 border-primary rounded-circle back-to-top"
  ><i class="fa fa-arrow-up"></i
></a>

<div
  id="quick-view-product"
  class="quickview-product"
  [style.display]="modalStyle ? 'block' : 'none'"
>
  <div
    class="quickview-overlay fancybox-overlay fancybox-overlay-fixed"
    (click)="closeModal()"
  ></div>
  <div class="quick-view-product">
    <div class="block-quickview primary_block details-product">
      <div class="row">
        <div
          class="product-left-column product-images col-xs-12 col-sm-4 col-md-4 col-lg-5 col-xl-5"
        >
          <div class="image-block large-image col_large_default">
            <span class="view_full_size">
              <a class="img-product" title="" href="javascript:;">
                <img
                  [src]="currentImage"
                  id="product-featured-image-quickview"
                  class="img-responsive product-featured-image-quickview"
                  alt="quickview"
                />
              </a>
            </span>
            <div class="loading-imgquickview" style="display: none"></div>
          </div>
          <div class="more-view-wrapper clearfix">
            <div
              class="thumbs_quickview owl_nav_custome1 swiper-container thumbs_list_quickview swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events"
              id="thumbs_list_quickview"
            >
              <ul
                class="product-photo-thumbs quickview-more-views-owlslider not-thuongdq swiper-wrapper"
                id="thumblist_quickview"
                style="
                  transition-duration: 0ms;
                  transform: translate3d(0px, 0px, 0px);
                "
              >
                @for (image of product?.productImages; track image.imageUrl; let
                i = $index;) {
                <li
                  class="swiper-slide"
                  style="width: 77.5px; margin-right: 15px"
                >
                  <a href="javascript:void(0)"
                    ><img
                      [src]="image.imageUrl"
                      alt="Zomart"
                      style="max-width: 120px; max-height: 120px"
                      (click)="thumbnailClick(image.imageUrl)"
                  /></a>
                </li>
                }
              </ul>
              <div class="swiper-button-prev swiper-button-disabled"></div>
              <div class="swiper-button-next swiper-button-disabled"></div>
            </div>
          </div>
        </div>
        <div
          class="product-center-column product-info product-item col-xs-12 col-sm-6 col-md-8 col-lg-7 col-xl-7 details-pro style_product style_border"
          id="product-35655314"
        >
          <div class="head-qv group-status">
            <h3 class="qwp-name title-product">
              <a class="text2line">{{ product?.title }}</a>
            </h3>
            <div class="vend-qv group-status">
              <div class="left_vend">
                <div class="first_status">
                  Tình trạng:
                  <span class="soluong status_name">Còn hàng</span>
                </div>
                <div class="top_sku first_status">
                  Mã sản phẩm:
                  <span class="sku_ status_name"
                    ><span>Đang cập nhật</span></span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="quickview-info">
            <span class="prices price-box">
              <span class="price product-price sale-price"
                >{{ product?.officialPrice | number : "1.0" }}₫</span
              >
              <del class="old-price"
                >{{ product?.originalPrice | number : "1.0" }}₫</del
              >
            </span>
          </div>

          <div class="product-description product-summary">
            <div class="rte">
              <p>
                {{ product?.description }}
              </p>
            </div>
          </div>

          <form
            class="quick_option variants form-ajaxtocart form-product"
            id="product-actions-35655314"
          >
            <div class="form_product_content">
              <div class="count_btn_style quantity_wanted_p">
                <div class="soluong1 clearfix">
                  <span class="soluong_h">Số lượng:</span>
                  <div class="sssssscustom input_number_product">
                    <button
                      type="button"
                      (click)="decreaseQuantity()"
                      class="btn_num num_1 button button_qty"
                    >
                      -
                    </button>
                    <input
                      type="text"
                      id="quantity-detail"
                      name="quantity"
                      [value]="quantity"
                      maxlength="3"
                      class="form-control prd_quantity"
                    />
                    <button
                      type="button"
                      (click)="increaseQuantity()"
                      class="btn_num num_2 button button_qty"
                    >
                      +
                    </button>
                  </div>
                </div>
                <div class="button_actions clearfix">
                  <button
                    (click)="addProductToCart(product?.id!, product?.title!)"
                    type="button"
                    class="btn_cool btn btn_base fix_add_to_cart ajax_addtocart btn_add_cart btn-cart add_to_cart add_to_cart_detail"
                  >
                    <span class="btn-content text_1">Thêm vào giỏ</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <a
      title="Close"
      class="quickview-close close-window"
      (click)="closeModal()"
      href="javascript:;"
    >
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="far"
        data-icon="times"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
        class="svg-inline--fa fa-times fa-w-10"
      >
        <path
          fill="currentColor"
          d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"
          class=""
        ></path>
      </svg>
    </a>
  </div>
</div>
