<div>
  <div class="absolute inset-0">
    <img
      src="https://res.cloudinary.com/dlpust9lj/image/upload/v1719652714/h1qwh88lk7uoubrj8ob6.png"
      alt="image"
      class="h-full w-full object-cover"
    />
  </div>
  <div
    class="relative flex min-h-screen items-center justify-center bg-[url(https://res.cloudinary.com/dlpust9lj/image/upload/v1719652767/oslla720mh6rmrvexgom.png)] bg-cover bg-center bg-no-repeat px-6 py-10 dark:bg-[#060818] sm:px-16"
  >
    <img
      src="https://res.cloudinary.com/dlpust9lj/image/upload/v1719652719/kytkboflg7dsnlht5ll1.png"
      alt="image"
      class="absolute left-0 top-1/2 h-full max-h-[893px] -translate-y-1/2"
    />
    <img
      src="https://res.cloudinary.com/dlpust9lj/image/upload/v1719652715/k5mtm6r5kg2w4j4v20ol.png"
      alt="image"
      class="absolute left-24 top-0 h-40 md:left-[30%]"
    />
    <img
      src="https://res.cloudinary.com/dlpust9lj/image/upload/v1719652719/kytkboflg7dsnlht5ll1.png"
      alt="image"
      class="absolute right-0 top-0 h-[300px]"
    />
    <img
      src="https://res.cloudinary.com/dlpust9lj/image/upload/v1719652714/xy21w6sdze1wmrsk6bio.png"
      alt="image"
      class="absolute bottom-0 end-[28%]"
    />
    <div
      class="relative flex w-full max-w-[1502px] flex-col justify-between overflow-hidden rounded-md bg-white/60 backdrop-blur-lg dark:bg-black/50 lg:min-h-[758px] lg:flex-row lg:gap-10 xl:gap-0"
    >
      <div
        class="relative hidden w-full items-center justify-center bg-[linear-gradient(225deg,#fff_0%,#326b00_100%)] p-5 lg:inline-flex lg:max-w-[835px] xl:-ms-28 ltr:xl:skew-x-[14deg] rtl:xl:skew-x-[-14deg]"
        style="
          --tw-skew-x: 14deg;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        "
      >
        <div
          class="absolute inset-y-0 w-8 from-primary/10 via-transparent to-transparent xl:w-16 ltr:-right-10 ltr:bg-gradient-to-r ltr:xl:-right-20 rtl:-left-10 rtl:bg-gradient-to-l rtl:xl:-left-20"
          style="
            right: -5rem;
            background-image: linear-gradient(
              to right,
              var(--tw-gradient-stops)
            );
          "
        ></div>
        <div
          class="ltr:xl:-skew-x-[14deg] rtl:xl:skew-x-[14deg]"
          style="
            --tw-skew-x: -14deg;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y))
              rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
              skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
              scaleY(var(--tw-scale-y));
          "
        >
          <a routerLink="/" class="ms-10 block w-48 lg:w-72">
            <!-- <h1 class="text-4xl">Nature's Harvest</h1> -->
          </a>
          <div class="mt-24 hidden w-full max-w-[430px] lg:block">
            <img
              src="https://res.cloudinary.com/dlpust9lj/image/upload/v1719652722/ciql1s2izm9ttor3qoi8.svg"
              alt="Cover Image"
              class="w-full"
            />
          </div>
        </div>
      </div>
      <div
        class="relative flex w-full flex-col items-center justify-center gap-6 px-4 pb-16 pt-6 sm:px-6 lg:max-w-[667px]"
      >
        <div class="w-full max-w-[440px] lg:mt-16">
          <div class="mb-10">
            <h1
              class="text-3xl font-extrabold uppercase !leading-snug text-primary md:text-4xl"
              style="text-align: center; color: #00401c"
            >
              Sign in
            </h1>
            <p
              class="text-base font-bold leading-normal text-white-dark"
              style="text-align: center"
            >
              Welcome to Nature's Harvest
            </p>
          </div>
          <form class="space-y-4 dark:text-white">
            <div>
              <label for="Email">Email</label>
              <div class="relative text-white-dark">
                <input
                  id="Email"
                  type="email"
                  class="form-input ps-10 placeholder:text-white-dark"
                  [formControl]="emailFormControl"
                  placeholder="Ex. pat@example.com"
                  style="line-height: 2; padding-inline-start: 3rem"
                />

                <span class="absolute start-4 top-1/2 -translate-y-1/2">
                  <mat-icon style="margin-top: 6px">mail</mat-icon>
                </span>
              </div>
              <div style="margin-top: 4px; font-size: 14px; color: red">
                @if (emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')) {
                <mat-error
                  style="font-size: 13px; color: red; visibility: visible"
                  >Vui lòng nhập đúng định dạng email</mat-error
                >
                } @else if (emailFormControl.hasError('required')) {
                <mat-error
                  style="font-size: 13px; color: red; visibility: visible"
                  >Vui lòng nhập email</mat-error
                >
                }@else {
                <mat-error
                  style="font-size: 13px; color: red; visibility: hidden"
                  >hidden</mat-error
                >
                }
              </div>
            </div>
            <div>
              <label for="Password">Password</label>
              <div class="relative text-white-dark">
                <input
                  id="Password"
                  type="password"
                  placeholder="Enter Password"
                  [formControl]="passwordFormControl"
                  class="form-input ps-10 placeholder:text-white-dark"
                  style="line-height: 2; padding-inline-start: 3rem"
                />
                <span class="absolute start-4 top-1/2 -translate-y-1/2">
                  <mat-icon style="margin-top: 4px">lock</mat-icon>
                </span>
              </div>
              <div style="font-size: 13px; color: red">
                @if (passwordFormControl.hasError('email') &&
                !passwordFormControl.hasError('required')) {
                <mat-error style="visibility: visible"
                  >Nhập đúng định dạng</mat-error
                >
                } @else if (passwordFormControl.hasError('required')) {
                <mat-error style="visibility: visible"
                  >Vui lòng nhập mật khẩu</mat-error
                >
                } @else {
                <mat-error style="visibility: hidden">hidden</mat-error>
                }
              </div>
            </div>
            <div class="flex justify-end">
              <a href="">
                <span class="text-white-dark" style="font-size: 12px"
                  >Quên mật khẩu ?</span
                >
              </a>
            </div>
            <button
              type="submit"
              class="btn !mt-6 w-full border-0 uppercase shadow-[0_10px_20px_-10px_#326b00]"
              style="
                background-image: linear-gradient(to right, #34c3c5, #45a049);
                color: rgb(255, 255, 255);
              "
              (click)="login()"
            >
              Sign in
            </button>
          </form>

          <div class="relative my-7 text-center md:mb-9">
            <span
              class="absolute inset-x-0 top-1/2 h-px w-full -translate-y-1/2 bg-white-light dark:bg-white-dark"
            ></span>
            <span
              class="relative bg-white px-2 font-bold uppercase text-white-dark dark:bg-dark dark:text-white-light"
              >or</span
            >
          </div>
          <div class="justify-content-center mb-10 flex md:mb-[40px]">
            <div id="google-btn1"></div>
          </div>
          <div class="text-center dark:text-white">
            Don't have an account ?
            <a
              routerLink="/signup"
              class="uppercase underline transition hover:text-black dark:hover:text-white"
              style="color: #00401c"
            >
              SIGN UP
            </a>
          </div>
        </div>
        <p class="absolute bottom-6 w-full text-center dark:text-white">
          © 2024 .Website of phatnttse.
        </p>
      </div>
    </div>
  </div>
</div>
