<app-header></app-header>
<div class="container">
  <div class="row justify-content-center" style="margin-top: 180px">
    <div class="col-md-6">
      <div class="card">
        <div class="title">
          <h3 class="text-center my-4">Welcome to Nature's Harvest</h3>
        </div>
        <div class="title text-center">
          Bạn chưa có tài khoản ?
          <a style="text-decoration: underline" routerLink="/signup"
            >Đăng ký tại đây</a
          >
        </div>

        <div class="card-body">
          <form>
            <mat-form-field class="example-full-width mt-5">
              <mat-label class="font-size-14">Email</mat-label>
              <input
                type="email"
                matInput
                [formControl]="emailFormControl"
                [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com"
              />
              @if (emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
              } @if (emailFormControl.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <mat-form-field class="example-full-width mt-4">
              <mat-label class="font-size-14">Password</mat-label>
              <input
                matInput
                [formControl]="passwordFormControl"
                [errorStateMatcher]="matcher"
                [type]="hide ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              @if (passwordFormControl.hasError('email') &&
              !passwordFormControl.hasError('required')) {
              <mat-error>Please enter a valid password</mat-error>
              } @if (passwordFormControl.hasError('required')) {
              <mat-error>Password is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <div class="text-end">
              <a routerLink="/login" style="font-size: 12px">
                Quên mật khẩu ?</a
              >
            </div>
            <div class="text-center mt-4">
              <button mat-flat-button (click)="login()">Đăng nhập</button>
            </div>
            <div class="divider text-center mt-4">Hoặc đăng nhập bằng</div>
            <div
              class="align-items-center d-flex justify-content-center my-4 d-grid"
            >
              <div id="google-btn1"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
