<div class="container-fluid fixed-top">
  <div class="topbar d-none d-lg-block container bg-primary">
    <div class="d-flex justify-content-between">
      <div class="top-info ps-2">
        <small class="me-3"
          ><i class="fas fa-map-marker-alt me-2 text-secondary"></i>
          <a href="#" class="text-white">123 Street, New York</a></small
        >
        <small class="me-3"
          ><i class="fas fa-envelope me-2 text-secondary"></i
          ><a href="#" class="text-white">https://dungdetdienlen.com</a></small
        >
      </div>
      <div class="top-link pe-2">
        <a href="#" class="text-white"
          ><small class="mx-2 text-white">Privacy Policy</small>/</a
        >
        <a href="#" class="text-white"
          ><small class="mx-2 text-white">Terms of Use</small>/</a
        >
        <a href="#" class="text-white"
          ><small class="ms-2 text-white">Sales and Refunds</small></a
        >
      </div>
    </div>
  </div>
  <div class="container px-0">
    <nav class="navbar navbar-light navbar-expand-xl bg-white">
      <a routerLink="/" class="navbar-brand">
        <img
          width="120px"
          src="https://res.cloudinary.com/dlpust9lj/image/upload/v1720436456/ebhqmo659apqbsoigbmy.png"
          alt=""
          class="img-fluid"
          style="object-fit: cover"
        />
      </a>

      <button
        class="navbar-toggler px-3 py-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars text-primary"></span>
      </button>
      <div class="navbar-collapse collapse bg-white" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
          <a
            routerLink="/"
            class="nav-item nav-link fw-bold"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Trang chủ</a
          >
          <li class="nav-item dropdown-hover position-static">
            <a
              routerLink="/products/list/all"
              class="nav-item nav-link fw-bold"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Sản phẩm
              <i class="fa-solid fa-caret-down"></i>
            </a>
            <div class="dropdown-menu w-100 show" style="min-width: 320px">
              <div class="card card-lg">
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="navTab">
                      <div class="container">
                        <div class="row">
                          @for (category of categoriesWithSubcategories$ |
                          async; track $index) {
                          <div class="col-6 col-md">
                            <a
                              href="javascript:;"
                              (click)="selectCategory(category.slug)"
                              class="fw-bold mb-2 text-dark"
                              >{{ category.name }}</a
                            >
                            <ul
                              class="list-styled"
                              style="padding: 0 !important"
                            >
                              @for (subcategory of category.subcategories; track
                              $index) {
                              <li class="list-styled-item mt-2">
                                <a
                                  class="list-styled-link"
                                  href="javascript:;"
                                  style="font-size: 14px"
                                  (click)="selectSubcategory(subcategory.slug)"
                                  >{{ subcategory.name }}
                                </a>
                              </li>
                              }
                            </ul>
                          </div>
                          }

                          <div class="col-3 d-none d-lg-block">
                            <div class="card">
                              <img
                                class="card-img"
                                src="https://res.cloudinary.com/dl3rsgucq/image/upload/v1718188106/megamenu_banner_mtdsdy.jpg"
                                alt="Banner"
                                height="300px"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <a routerLink="/contact" class="nav-item nav-link fw-bold">Liên hệ</a>
          <a routerLink="/blogs" class="nav-item nav-link fw-bold">Tin tức</a>
          <a routerLink="/order-tracking" class="nav-item nav-link fw-bold"
            >Đơn hàng</a
          >
        </div>
        <div class="d-flex m-3 me-0">
          <button
            class="btn-search btn btn-md-square rounded-circle me-4 border border-secondary bg-white"
            data-bs-toggle="modal"
            data-bs-target="#searchModal"
          >
            <i class="fas fa-search text-primary"></i>
          </button>
          <a routerLink="/view-cart" class="position-relative my-auto me-4">
            <i class="fa fa-shopping-bag fa-2x"></i>
            <span
              class="position-absolute rounded-circle d-flex align-items-center justify-content-center bg-secondary px-1 text-white"
              style="top: -5px; left: 15px; height: 20px; min-width: 20px"
            >
              @if (cartSize > 0) {
              {{ cartSize }}
              }@else { 0 }
            </span>
          </a>

          @if (userResponse) {
          <div
            class="d-inline-flex user-logged nav-item dropdown my-auto"
            data-bs-toggle="dropdown"
            style="cursor: pointer"
          >
            <img
              [src]="userResponse.picture"
              class="img-fluid rounded-circle me-2"
              width="30px"
              alt=""
              data-bs-toggle="dropdown"
              style="height: 33px; object-fit: cover"
            />
            <p
              class="my-auto"
              data-bs-toggle="dropdown"
              (click)="editProfile()"
            >
              {{ userResponse.name }}
            </p>
            <i class="fa-solid fa-caret-down mb-1 p-2"></i>
            <div class="dropdown-menu rounded-0 m-0">
              <a routerLink="/profile" class="dropdown-item">Tài khoản</a>
              <a href="#" (click)="logOut()" class="dropdown-item">Đăng xuất</a>
            </div>
          </div>

          }@else {
          <a routerLink="/login" class="my-auto">
            <i class="fas fa-user fa-2x"></i>
          </a>
          }
        </div>
      </div>
    </nav>
  </div>
</div>
<app-search></app-search>
