.card > * {
  flex-shrink: 0;
}
.card .card-footer {
  padding: 1.5rem;
}
.card-xl .card-body,
.card-xl .card-footer {
  padding: 2.5rem;
}
.card-lg .card-body,
.card-lg .card-footer {
  padding: 2rem;
}
.card-sm .card-body,
.card-sm .card-footer {
  padding: 1.25rem;
}
.card-body {
  flex: 0 0 auto;
}
.card-footer {
  background-color: transparent;
}
.card-img-overlay {
  display: flex;
}
.card-img-overlay > * {
  flex: 1;
}
a.card-img-overlay {
  color: inherit;
}
a.card-img-overlay:hover {
  text-decoration: none;
}
.card-img-overlay-hover {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.card:hover .card-img-overlay-hover {
  opacity: 1;
}
.card-img {
  position: relative;
}
.card-img-hover {
  display: block;
}
.card-img-hover > * {
  float: left;
}
.card-img-hover .card-img-top {
  transition: opacity 0.2s ease-in-out;
}
.card-img-hover .card-img-back {
  opacity: 0;
}
.card-img-hover .card-img-front {
  margin-left: -100%;
}
.card-img:hover .card-img-hover .card-img-back {
  opacity: 1;
}
.card-img:hover .card-img-hover .card-img-front {
  opacity: 0;
}
.card-bg {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.card-bg ~ * {
  z-index: 1;
}
.card-bg-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
  transition-property: transform;
  width: calc(100% + 0.25rem);
}
.card:hover > .card-bg > .card-bg-img {
  transform: translateX(-0.25rem);
}
.card-circle {
  align-items: center;
  background-color: #ff6f61;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  position: absolute;
  top: 1.25rem;
  width: 70px;
  z-index: 1;
}
.card-circle-lg {
  height: 96px;
  width: 96px;
}
.card-circle-sm {
  height: 34px;
  width: 34px;
}
.card-circle-left {
  left: 1.25rem;
}
.card-circle-end {
  right: 1.25rem;
}
.card-circle-top-end {
  right: 0;
  top: 0;
}
.card-badge {
  position: absolute;
  top: 1.25rem;
  z-index: 1;
}
.card-badge-start {
  left: 0;
}
.card-badge-end {
  right: 0;
}
.card-price {
  position: absolute;
  top: 0;
  z-index: 1;
}
.card-price-start {
  left: 0;
}
.card-price-end {
  right: 0;
}
.card-price-end + .card-badge-end,
.card-price-start + .card-badge-start {
  top: 3.75rem;
}
.card-actions {
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.card-actions .card-action {
  left: 0;
  opacity: 0;
  position: relative;
  right: 0;
  top: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s ease-in-out;
  transition-property: transform, opacity;
}
.card-actions .card-action:nth-child(2) {
  transition-delay: 75ms;
}
.card-actions .card-action:nth-child(3) {
  transition-delay: 0.15s;
}
.card-actions .card-action + .card-action {
  margin-left: 0.5rem;
}
.card-img:hover .card-actions .card-action {
  opacity: 1;
  transform: translateY(0);
}
.card-action {
  position: absolute;
  top: 1.25rem;
  z-index: 1;
}
.card-acton-start {
  left: 1.25rem;
}
.card-action-end {
  right: 1.25rem;
}
.card-btn {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
}
.card-img:hover .card-btn {
  opacity: 1;
}
.card-collapse {
  position: absolute;
  top: 100%;
  width: 100%;
}
.card-collapse:not(.collapsing):not(.show) {
  display: block !important;
  height: 0;
  overflow: hidden;
}
.card-collapse-parent {
  position: relative;
  transition: transform 0.35s ease;
}
.btn-white-primary {
  background-color: #fff;
  color: #1f1f1f;
}
.btn-white-primary:focus,
.btn-white-primary:hover {
  background-color: #ff6f61;
  border-color: #ff6f61;
  color: #fff;
}
.btn-white-primary[data-toggle="button"]:focus,
.btn-white-primary[data-toggle="button"]:hover {
  color: #fff;
}
.btn-white-primary[data-toggle="button"].active {
  background-color: #fff;
  border-color: #fff;
  color: #ff6f61;
}

#quick-view-product {
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0 !important;
  z-index: 9999;
}

#quick-view-product .quick-view-product {
  position: absolute;
  width: 950px;
  top: 5%;
  height: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 30px;
  background-color: #fff;
  z-index: 8011;
  border-radius: 0px;
  border-radius: 10px;
}

#quick-view-product .quick-view-product .quickview-close {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

#quick-view-product .quick-view-product .quickview-close svg path {
  fill: #000;
  cursor: pointer;
}

#quick-view-product .quickview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  top: 0 !important;
}

#quick-view-product .large-image {
  margin-bottom: 15px;
}

#quick-view-product .large-image .img-product {
  padding-bottom: 100%;
  display: block;
  height: 0;
  position: relative;
  border: 1px solid #e9edf5;
}

#quick-view-product .large-image .img-product img {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  position: absolute;
}

#quick-view-product .thumbs_list_quickview {
  padding: 2px;
  position: relative;
}

#quick-view-product .thumbs_list_quickview ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

#quick-view-product .thumbs_list_quickview ul .swiper-slide a {
  padding-bottom: 100%;
  display: block;
  height: 0;
  position: relative;
  border: 1px solid #e9edf5;
}

#quick-view-product .thumbs_list_quickview ul .swiper-slide a img {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 97% !important;
  max-height: 97% !important;
  width: auto !important;
  height: auto !important;
  position: absolute;
}

#quick-view-product .thumbs_list_quickview ul .swiper-slide.active a {
  border: 1px solid #008b4b;
}

#quick-view-product .product-info {
  max-height: 550px;
  overflow-y: scroll;
}

#quick-view-product .product-info .title-product {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

#quick-view-product .product-info::-webkit-scrollbar-thumb {
  background-color: #008b4b;
  outline: 1px solid #008b4b;
}

#quick-view-product .product-info::-webkit-scrollbar {
  width: 3px;
}

#quick-view-product .group-status {
  margin-bottom: 10px;
}

#quick-view-product .group-status .left_vend {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: 600;
}

#quick-view-product .group-status .left_vend .first_status {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

#quick-view-product .group-status .left_vend .first_status .status_name {
  color: #008b4b;
}

#quick-view-product .group-status .line_tt {
  padding: 0 5px;
}

#quick-view-product .selector-wrapper {
  display: none !important;
}

#quick-view-product .price-box {
  margin-bottom: 10px;
  display: block;
}

#quick-view-product .price-box .product-price {
  color: #f8c144;
  font-size: 28px;
  font-weight: bold;
}

#quick-view-product .price-box .old-price {
  color: #a5a5a5;
  font-size: 16px;
  margin-left: 5px;
}

#quick-view-product .product-summary {
  margin-bottom: 10px;
  font-size: 14px;
}

#quick-view-product .product-summary img {
  display: none;
}

#quick-view-product .form_product_content .soluong1 {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

#quick-view-product .form_product_content .soluong1 .soluong_h {
  margin-bottom: 10px;
  display: block;
}

#quick-view-product .form_product_content .soluong1 .input_number_product {
  display: block;
  width: 100%;
  min-height: 30px;
  font-size: 1em;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  margin: 0;
  width: auto;
  float: left;
  position: relative;
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #7d7d7d;
  border-radius: 30px;
  overflow: hidden;
}

#quick-view-product
  .form_product_content
  .soluong1
  .input_number_product
  .btn_num {
  font-size: 20px;
  line-height: 0px;
  border: 0;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #fff;
  float: left;
  color: #333;
  text-align: center;
  padding: 0px;
}

#quick-view-product
  .form_product_content
  .soluong1
  .input_number_product
  .btn_num:hover {
  background: #f8c144;
}

#quick-view-product
  .form_product_content
  .soluong1
  .input_number_product
  .btn_num
  svg {
  width: 14px;
  height: 14px;
}

#quick-view-product
  .form_product_content
  .soluong1
  .input_number_product
  input {
  padding: 0 2px;
  text-align: center;
  margin: 0px;
  display: block;
  float: left;
  height: 35px;
  border: 0;
  width: 60px;
  text-align: center;
  box-shadow: none;
  border-radius: 8px;
  font-size: 15px;
}

#quick-view-product .form_product_content .button_actions {
  display: inline-block;
}

#quick-view-product .form_product_content .button_actions button {
  border: initial;
  height: 45px;
  padding: 0 20px;
  background: #008b4b;
  color: #fff;
  text-transform: uppercase;
  border-radius: 45px;
  width: 100%;
  margin-right: 5px;
  font-weight: 500;
}

#quick-view-product .form_product_content .button_actions button:hover {
  background: #f8c144;
  color: #000;
}

#quick-view-product .form_product_content .button_actions button.disabled {
  margin-top: 5px;
  opacity: 0.6;
}

#quick-view-product .swatch {
  font-size: 14px;
  margin-bottom: 5px;
}

#quick-view-product .swatch .header {
  margin-bottom: 5px;
  font-weight: 600;
}

#quick-view-product .swatch .header .value-roperties {
  color: #008b4b;
}

#quick-view-product .swatch .swatch-element {
  display: inline-block;
  margin: 0px 5px 5px 0;
}

#quick-view-product .swatch .swatch-element input {
  display: none;
}

#quick-view-product .swatch .swatch-element label {
  min-width: 60px;
  height: 33px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  cursor: pointer;
  white-space: nowrap;
  padding: 0 5px;
  position: relative;
  margin-bottom: 0;
  border-radius: 33px;
  overflow: hidden;
}

#quick-view-product .swatch .swatch-element label .crossed-out {
  display: none;
}

#quick-view-product .swatch .swatch-element input:checked + label {
  background: #008b4b;
  border-color: #008b4b;
  color: #fff;
}

#quick-view-product .swatch .swatch-element .tooltip {
  display: none;
}

#quick-view-product .swatch .swatch-element.color label {
  padding: 0 10px 0 0;
}

#quick-view-product .swatch .swatch-element.color label img {
  max-height: 31px;
  border-radius: 50%;
}

#quick-view-product .swatch .swatch-element.color label span {
  padding-left: 10px;
}

#quick-view-product .khuyen-mai {
  padding-bottom: 5px !important;
  padding: 25px 15px 15px 15px;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid #008b4b;
}

#quick-view-product .khuyen-mai .title {
  width: auto;
  color: #008b4b;
  font-weight: 600;
  background: #fff;
  border-radius: 20px;
  border: 1px solid;
  font-size: 14px;
  display: inline-flex;
  padding: 5px 15px;
  align-items: center;
  border: 2px solid #008b4b;
  position: absolute;
  top: -24px;
}

#quick-view-product .khuyen-mai .title img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

#quick-view-product .khuyen-mai ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

#quick-view-product .khuyen-mai ul li img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.thump-swatch {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
svg {
  width: 18px;
  height: 18px;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
