<mat-card
  ><mat-card-content
    ><div class="row justify-content-between">
      <div class="col-lg-4 negative-margin">
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            placeholder="Tìm kiếm"
            (keyup)="applyFilter($event)"
            #input
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button
          mat-raised-button
          color="primary"
          routerLink="/admin/coupons/new"
          extend
          style="padding: 20px 10px"
        >
          Thêm mã giảm giá mới
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div></mat-card-content
  ></mat-card
>
<mat-card class="w-100">
  <mat-card-content>
    <h4>Quản lý mã giảm giá</h4>
    <div class="table-responsive mt-20">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="w-100 text-nowrap"
      >
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="code">Mã</th>
          <td mat-cell *matCellDef="let coupon">
            <p class="fw-bold mb-0">{{ coupon.code }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="discountType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="code">
            Loại giảm giá
          </th>
          <td mat-cell *matCellDef="let coupon">
            <p class="badge badge-primary mb-0">
              {{ coupon.discountType }}
            </p>
          </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="value">
            Đơn hàng tối thiểu
          </th>
          <td mat-cell *matCellDef="let coupon">
            <p class="mb-0">{{ coupon.value | number : "1.0" }}₫</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="discountAmount">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="discountAmount"
          >
            Giá trị giảm
          </th>
          <td mat-cell *matCellDef="let coupon">
            @if (coupon.discountType === 'percentage') {
            <p class="mb-0">{{ coupon.discountAmount }}%</p>
            }@else if (coupon.discountType === 'fixed') {
            <p class="mb-0">{{ coupon.discountAmount | number : "1.0" }}₫</p>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="startDate">
            Ngày bắt đầu
          </th>
          <td mat-cell *matCellDef="let coupon">
            @if (coupon.startDate) {
            <p class="mb-0">{{ coupon.startDate }}</p>

            }@else {
            <p class="mb-0">-</p>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="endDate">
            Ngày kết thúc
          </th>
          <td mat-cell *matCellDef="let coupon">
            @if (coupon.endDate) {
            <p class="mb-0">{{ coupon.endDate }}</p>

            }@else {
            <p class="mb-0">-</p>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Các thao tác</th>
          <td mat-cell *matCellDef="let coupon">
            <button
              mat-icon-button
              color="primary"
              routerLink="/admin/coupons/{{ coupon.id }}"
            >
              <mat-icon aria-label="Edit">visibility</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="openDialog(coupon.id)"
            >
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
