@defer () {
<div class="authentication-wrapper authentication-basic px-4">
  <div class="authentication-inner">
    <!-- Verify Email -->
    <div class="card">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
          <a href="index.html" class="app-brand-link gap-2">
            <span
              class="app-brand-logo demo d-flex align-items-center justify-content-center"
            >
              <img
                src="https://res.cloudinary.com/dlpust9lj/image/upload/v1720436456/ebhqmo659apqbsoigbmy.png"
                width="160"
                height="auto"
                alt="Logo"
              />
            </span>
          </a>
        </div>
        <!-- /Logo -->
        <h3 class="mb-2 text-center">Xác thực email ✉️</h3>

        <p class="mt-4 text-center">
          Link kích hoạt tài khoản được gửi tới địa chỉ email của bạn: Vui lòng
          làm theo hướng dẫn liên kết bên trong để tiếp tục.
        </p>
        @if (verified) {
        <p class="mt-4 text-center text-primary" style="font-size: 20px">
          Xác thực thành công
        </p>
        <button
          style="background-color: rgb(32, 168, 14); color: #fff"
          class="btn w-100 my-3"
          routerLink="/login"
        >
          Đăng nhập để mua sắm ngay !
        </button>
        }@else if (isErrored) {
        <p class="my-3 mt-4 text-center text-danger" style="font-size: 20px">
          {{ message }}
        </p>
        <p class="text-center">
          Gửi lại email xác thực ?
          <a href="javascript:void(0);" (click)="resendVerificationEmail()">
            Gửi lại
          </a>
        </p>
        }
      </div>
    </div>
    <!-- /Verify Email -->
  </div>
</div>
}@loading {
<div class="d-flex align-items-center justify-content-center vh-100">
  <mat-spinner></mat-spinner>
</div>
}
