<div class="m-2 space-y-4">
  <h1 class="text-5xl font-bold">Upload (Upload Widget)</h1>
  <p class="m-2">
    This example shows how to integrate the Cloudinary Upload Widget into an
    Angular application.
  </p>
  <div class="m-2">
    Please note that the following defaults are being used:
    <ul class="list-inside list-disc">
      <li>
        The upload source is limited to the local filesystem or to a remote URL.
      </li>
      <li>
        The
        <code class="rounded-md bg-black px-2 py-1 text-sm text-gray-100">
          myphotoalbum-angular</code
        >
        tag gets added to all photos uploaded via this method (this is used in
        the photo album to retrieve images).
      </li>
      <li>Only images can be uploaded.</li>
    </ul>
    <button
      class="btn"
      [ngClass]="{ 'btn-primary': true, 'btn-disabled': isDisabled }"
      type="button"
      (click)="uploadWidget()"
    >
      {{ isDisabled ? "Opening Widget" : "Upload Image" }}
    </button>
    <div *ngIf="uploadedImages.length !== 0">
      <div class="flex flex-wrap">
        <h2 class="w-full text-xl font-bold">Uploaded images</h2>
        @for (uploadedImage of uploadedImages; track uploadedImage; let index =
        $index) {
        <div key="{idx}" class="w-full p-4 sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4">
          <img class="w-full" [src]="uploadedImage" alt="uploaded image" />
        </div>
        }
      </div>
    </div>
  </div>
</div>
