<!-- forgot-password.component.html -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="text-center mb-4">Quên Mật Khẩu</h2>
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="Nhập email">
              <div  class="text-danger">
                Vui lòng nhập email hợp lệ.
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Gửi yêu cầu</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
