<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<!-- @if (cart.length > 0) {
<section class="main-cart-page main-container col1-layout">
  <div class="main container cartpcstyle">
    <div
      class="wrap_background_aside margin-bottom-40"
      style="display: inline-block; width: 100%"
    >
      <div class="header-cart d-none">
        <div class="title-block-page">
          <h1 class="title_cart">
            <span>Giỏ hàng của bạn</span>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-12 col-cart-left">
          <div class="cart-page d-xl-block d-none">
            <div class="drawer__inner">
              <div class="CartPageContainer">
                <form
                  action="/cart"
                  method="post"
                  novalidate=""
                  class="cart ajaxcart cartpage"
                >
                  <div class="cart-header-info">
                    <div>Thông tin sản phẩm</div>
                    <div>Đơn giá</div>
                    <div>Số lượng</div>
                    <div>Thành tiền</div>
                  </div>
                  <div
                    class="ajaxcart__inner ajaxcart__inner--has-fixed-footer cart_body items"
                  >
                    @for (item of cart; track $index) {
                    <div class="ajaxcart__row">
                      <div class="ajaxcart__product cart_product" data-line="1">
                        <a
                          href=""
                          class="ajaxcart__product-image cart_image"
                          [title]="item.product.title"
                          ><img
                            [src]="item.product.thumbnail"
                            [alt]="item.product.title"
                        /></a>
                        <div class="grid__item cart_info">
                          <div class="ajaxcart__product-name-wrapper cart_name">
                            <a
                              href="/kiwi-vang-zespri"
                              class="ajaxcart__product-name h4"
                              title="Kiwi vàng Zespri"
                              >{{ item.product.title }}</a
                            >
                            <a
                              class="cart__btn-remove remove-item-cart ajaxifyCart--remove"
                              href="javascript:;"
                              (click)="removeProductFromCart(item.product.id)"
                              data-line="1"
                              >Xóa</a
                            >
                          </div>
                          <div class="grid">
                            <div
                              class="grid__item one-half text-right cart_prices"
                            >
                              <span class="cart-price"
                                >{{
                                  item.product.price | number : "1.0"
                                }}₫</span
                              >
                            </div>
                          </div>
                          <div class="grid">
                            <div class="grid__item one-half cart_select">
                              <div class="ajaxcart__qty input-group-btn">
                                <button
                                  type="button"
                                  class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count"
                                  data-id=""
                                  data-qty="0"
                                  data-line="1"
                                  aria-label="-"
                                  (click)="
                                    decrementQuantity(
                                      item.product.id,
                                      item.quantity
                                    )
                                  "
                                >
                                  -
                                </button>
                                <input
                                  type="text"
                                  name="updates[]"
                                  class="ajaxcart__qty-num number-sidebar"
                                  maxlength="3"
                                  [value]="item.quantity"
                                  min="0"
                                  data-id=""
                                  data-line="1"
                                  aria-label="quantity"
                                  pattern="[0-9]*"
                                />
                                <button
                                  type="button"
                                  class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count"
                                  data-id=""
                                  data-line="1"
                                  data-qty="2"
                                  aria-label="+"
                                  (click)="
                                    incrementQuantity(
                                      item.product.id,
                                      item.quantity
                                    )
                                  "
                                >
                                  +
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="grid">
                            <div
                              class="grid__item one-half text-right cart_prices"
                            >
                              <span class="cart-price"
                                >{{
                                  item.product.price * item.quantity
                                    | number : "1.0"
                                }}₫</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    }
                  </div>
                  <div
                    class="ajaxcart__footer ajaxcart__footer--fixed cart-footer"
                  >
                    <div class="row">
                      <div
                        class="col-lg-4 col-12 offset-md-8 offset-lg-8 offset-xl-8"
                      >
                        <div class="ajaxcart__subtotal">
                          <div class="cart__subtotal">
                            <div class="cart__col-6">Tổng tiền:</div>
                            <div class="text-right cart__totle">
                              <span class="total-price"
                                >{{ getTotalPrice() | number : "1.0" }}₫</span
                              >
                            </div>
                          </div>
                        </div>
                        <div class="cart__btn-proceed-checkout-dt">
                          <button
                            type="button"
                            class="button btn btn-default cart__btn-proceed-checkout"
                            id="btn-proceed-checkout"
                            title="Thanh toán"
                            routerLink="/order"
                          >
                            Thanh toán
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="cart-mobile-page d-block d-xl-none">
            <div class="CartMobileContainer"></div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-12 col-cart-right">
          <form method="post" novalidate="" class="formVAT">
            <h4>Thời gian giao hàng</h4>
            <div class="timedeli-modal">
              <fieldset class="input_group date_pick">
                <input
                  type="text"
                  placeholder="Chọn ngày"
                  readonly=""
                  id="date"
                  name="attributes[shipdate]"
                  class="date_picker"
                  required=""
                />
              </fieldset>
              <fieldset class="input_group date_time">
                <select name="time" class="timeer timedeli-cta">
                  <option selected="">Chọn thời gian</option>

                  <option value="08h00 - 12h00">08h00 - 12h00</option>

                  <option value=" 14h00 - 18h00">14h00 - 18h00</option>

                  <option value=" 19h00 - 21h00">19h00 - 21h00</option>
                </select>
              </fieldset>
            </div>

            <div class="r-bill">
              <div class="checkbox">
                <input
                  type="hidden"
                  name="attributes[invoice]"
                  id="re-checkbox-bill"
                  value="không"
                />
                <input
                  type="checkbox"
                  id="checkbox-bill"
                  name="attributes[invoice]"
                  value="có"
                  class="regular-checkbox"
                />
                <label for="checkbox-bill" class="box"></label>
                <label for="checkbox-bill" class="title"
                  >Xuất hóa đơn công ty</label
                >
              </div>
              <div class="bill-field">
                <div class="form-group">
                  <label>Tên công ty</label>
                  <input
                    type="text"
                    class="form-control val-f"
                    name="attributes[company_name]"
                    value=""
                    placeholder="Tên công ty"
                  />
                </div>
                <div class="form-group">
                  <label>Mã số thuế</label>
                  <input
                    type="number"
                    class="form-control val-f val-n"
                    name="attributes[tax_code]"
                    value=""
                    placeholder="Mã số thuế"
                  />
                </div>
                <div class="form-group">
                  <label>Địa chỉ công ty</label>
                  <textarea
                    class="form-control val-f"
                    name="attributes[company_address]"
                    placeholder="Nhập địa chỉ công ty (bao gồm Phường/Xã, Quận/Huyện, Tỉnh/Thành phố nếu có)"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label>Email nhận hoá đơn</label>
                  <input
                    type="email"
                    class="form-control val-f val-email"
                    name="attributes[invoice_email]"
                    value=""
                    placeholder="Email nhận hoá đơn"
                  />
                </div>
              </div>
            </div>
          </form>

          <div class="clearfix"></div>
          <div class="product-coupon__wrapper my-3">
            <strong class="d-block mb-2"
              >Các mã giảm giá có thể áp dụng:
            </strong>
            <div class="product-coupons coupon-toggle-btn">
              <div class="coupon_item lite">
                <div class="coupon_content">FREESHIP15k</div>
              </div>
              <div class="coupon_item lite">
                <div class="coupon_content">FREESHIP20k</div>
              </div>
              <div class="coupon_item lite">
                <div class="coupon_content">FREESHIP30k</div>
              </div>
              <div class="coupon_item lite">
                <div class="coupon_content">FREESHIP</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}@else {
<section>
  <div class="empty-cart mt-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="empty-cart-icon"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M4 4h16v2H4z"></path>
      <path d="M4 6l2 10h12l2-10"></path>
      <circle cx="9" cy="20" r="1"></circle>
      <circle cx="15" cy="20" r="1"></circle>
      <path d="M4 8h16v2H4z"></path>
      <path d="M8 10c1.5 2 4 2 5 0"></path>
      <path d="M12 10c1.5 2 4 2 5 0"></path>
    </svg>
    <p class="empty-cart-message">Bạn chưa có sản phẩm nào trong giỏ hàng</p>
  </div>
</section>
} -->
@if (cart.length > 0) {
<section class="main-cart-page main-container col1-layout">
  <div class="main container cartpcstyle">
    <div class="wrap_background_aside margin-bottom-40">
      <div class="header-cart title_head">
        <h1 class="title_center_page left after">
          <span class="background_">Giỏ hàng của bạn</span>
        </h1>
        <div class="header-cart title_cart_pc hidden-sm hidden-xs"></div>
      </div>
      <div class="col-main cart_desktop_page cart-page">
        <div class="cart page_cart hidden-xs hidden-sm row">
          <form class="formcartpage col-lg-12 col-md-12 margin-bottom-0">
            <div class="bg-scroll">
              <div class="cart-thead">
                <div style="width: 10%" class="a-left">Sản phẩm</div>
                <div style="width: 35%" class="a-left"></div>
                <div style="width: 25%" class="a-center">Đơn giá</div>
                <div style="width: 14%" class="a-center">Số lượng</div>
                <div style="width: 16%" class="a-right">Thành tiền</div>
              </div>
              <div class="cart-tbody">
                @for (item of cart; track $index) {
                <div class="item-cart">
                  <div style="width: 10%" class="image">
                    <a
                      class="product-image a-left"
                      [title]="item.product.title"
                      href=""
                    >
                      <img
                        width="75"
                        height="auto"
                        [alt]="item.product.title"
                        [src]="item.product.thumbnail"
                      />
                    </a>
                  </div>
                  <div style="width: 35%" class="a-left contentcart">
                    <h3 class="product-name">
                      <a
                        class="text2line"
                        href=""
                        [title]="item.product.title"
                        >{{ item.product.title }}</a
                      >
                    </h3>
                    <span class="variant-title"></span>
                    <a
                      class="remove-itemx remove-item-cart"
                      title="Xóa"
                      href="javascript:;"
                      (click)="removeProductFromCart(item.product.id)"
                    >
                      <span
                        ><svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="far"
                          data-icon="times"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 320 512"
                          class="svg-inline--fa fa-times fa-w-10"
                        >
                          <path
                            fill="currentColor"
                            d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"
                            class=""
                          ></path>
                        </svg>
                        Xóa</span
                      >
                    </a>
                  </div>
                  <div style="width: 25%" class="a-center">
                    <span class="cart-prices">
                      <span class="prices"
                        >{{
                          item.product.officialPrice | number : "1.0"
                        }}₫</span
                      >
                    </span>
                  </div>
                  <div style="width: 14%" class="a-center">
                    <div class="input_qty_pr">
                      <button
                        class="reduced_pop items-count btn-minus"
                        type="button"
                        (click)="
                          decrementQuantity(item.product.id, item.quantity)
                        "
                      >
                        -
                      </button>
                      <input
                        type="text"
                        maxlength="3"
                        readonly=""
                        min="0"
                        class="check_number_here input-text number-sidebar input_pop input_pop"
                        name="Lines"
                        [value]="item.quantity"
                      />
                      <button
                        class="increase_pop items-count btn-plus"
                        type="button"
                        (click)="
                          incrementQuantity(item.product.id, item.quantity)
                        "
                      >
                        +
                      </button>
                    </div>
                  </div>
                  <div style="width: 16%" class="a-center">
                    <span class="cart-price">
                      <span class="price"
                        >{{
                          item.product.officialPrice | number : "1.0"
                        }}₫</span
                      >
                    </span>
                  </div>
                </div>
                }
              </div>
            </div>
          </form>

          <div class="col-lg-12 col-md-12">
            <div class="section bg_cart shopping-cart-table-total">
              <div
                class="table-total col-lg-4 col-lg-offset-8 col-xl-4 col-xl-offset-8"
              >
                <table class="table">
                  <tbody>
                    <tr>
                      <td coldspan="20" class="total-text">
                        Tổng tiền thanh toán:
                      </td>
                      <td class="txt-right totals_price price_end f-right">
                        {{ getTotalPrice() | number : "1.0" }}₫
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="f-right section continued w-100">
              <a
                routerLink="/order"
                class="btn btn-primary btn-checkout-cart button_checkfor_buy"
                >Tiến hành thanh toán</a
              >
              <a
                routerLink="/products/all"
                class="f-left btn btn-primary form-cart-continue"
                >Tiếp tục mua hàng</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="wrap_background_aside padding-top-15 margin-bottom-40 padding-left-0 padding-right-0 cartmbstyle"
  >
    <div class="cart-mobile container">
      <form class="margin-bottom-0">
        <div class="header-cart">
          <div class="title-cart title_cart_mobile">
            <h3>Giỏ hàng</h3>
          </div>
        </div>

        <div class="header-cart-content">
          <div class="cart_page_mobile content-product-list">
            @for (item of cart; track $index) {

            <div class="item-product item">
              <div class="item-product-cart-mobile">
                <a href=""> </a
                ><a
                  class="product-images1"
                  href=""
                  [title]="item.product.title"
                >
                  <img
                    width="80"
                    height="150"
                    [src]="item.product.thumbnail"
                    [alt]="item.product.title"
                  />
                </a>
              </div>
              <div class="title-product-cart-mobile">
                <h3>
                  <a href="" [title]="item.product.title">{{
                    item.product.title
                  }}</a>
                </h3>
                <p>
                  Giá: <span>{{ item.product.officialPrice }}₫</span>
                </p>
              </div>
              <div class="select-item-qty-mobile">
                <div class="txt_center">
                  <button
                    (click)="decrementQuantity(item.product.id, item.quantity)"
                    class="reduced items-count btn-minus"
                    type="button"
                  >
                    -
                  </button>
                  <input
                    type="text"
                    maxlength="3"
                    min="1"
                    class="input-text number-sidebar"
                    name="Lines"
                    [value]="item.quantity"
                  />
                  <button
                    (click)="incrementQuantity(item.product.id, item.quantity)"
                    class="increase items-count btn-plus"
                    type="button"
                  >
                    +
                  </button>
                </div>
                <a
                  class="button remove-item remove-item-cart"
                  href="javascript:;"
                  (click)="removeProductFromCart(item.product.id)"
                  >Xoá</a
                >
              </div>
            </div>
            }
          </div>
          <div class="header-cart-price">
            <div class="title-cart">
              <h3 class="text-xs-left">Tổng tiền:</h3>
              <a class="text-xs-right totals_price_mobile"
                >{{ getTotalPrice() | number : "1.0" }}₫</a
              >
            </div>
            <div class="checkout">
              <button
                class="btn-proceed-checkout-mobile"
                title="Tiến hành thanh toán"
                type="button"
                routerLink="/order"
              >
                <span>Tiến hành thanh toán</span>
              </button>
              <button
                class="btn btn-white f-left"
                title="Tiếp tục mua hàng"
                type="button"
                routerLink="/products/all"
              >
                <span>Tiếp tục mua hàng</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
}@else {
<section>
  <div class="empty-cart mt-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="empty-cart-icon"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M4 4h16v2H4z"></path>
      <path d="M4 6l2 10h12l2-10"></path>
      <circle cx="9" cy="20" r="1"></circle>
      <circle cx="15" cy="20" r="1"></circle>
      <path d="M4 8h16v2H4z"></path>
      <path d="M8 10c1.5 2 4 2 5 0"></path>
      <path d="M12 10c1.5 2 4 2 5 0"></path>
    </svg>
    <p class="empty-cart-message">Bạn chưa có sản phẩm nào trong giỏ hàng</p>
  </div>
</section>
}

<app-footer></app-footer>
