@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  background-color: #eeeeee;
  font-family: "Open Sans", serif;
}
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
}
.card-header:first-child {
  border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.track {
  position: relative;
  background-color: #ddd;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  margin-top: 50px;
}
.track .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  margin-top: -18px;
  text-align: center;
  position: relative;
}
.track .step.active:before {
  background: #008b4b;
}
.track .step.active-fail:before {
  background: #aa1906;
}
.track .step::before {
  height: 7px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 18px;
}
.track .step.active .icon {
  background: #008b4b;
  color: #fff;
}
.track .step.active .icon {
  background: #008b4b;
  color: #fff;
}

.track .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 100%;
  background: #ddd;
}
.track .step.active .text {
  font-weight: 400;
  color: #000;
}
.track .text {
  display: block;
  margin-top: 7px;
}
.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.itemside .aside {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.img-sm {
  width: 80px;
  height: 80px;
  padding: 7px;
}
ul.row,
ul.row-sm {
  list-style: none;
  padding: 0;
}
.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}
.itemside .title {
  display: block;
  margin-bottom: 5px;
  color: #212529;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.btn-warning {
  color: #ffffff;
  background-color: #ee5435;
  border-color: #ee5435;
  border-radius: 1px;
}
.btn-warning:hover {
  color: #ffffff;
  background-color: #ff2b00;
  border-color: #ff2b00;
  border-radius: 1px;
}
.custom-track {
  @media (max-width: 1024px) {
    margin-bottom: 120px;
  }
  @media (max-width: 768px) {
    margin-bottom: 120px;
    font-size: 13px;
  }
  @media (max-width: 391px) {
    margin-bottom: 130px;
    font-size: 11px;
  }
}
.col {
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 13px;
  }
  @media (max-width: 390px) {
    font-size: 11px;
  }
}
.empty-order {
  text-align: center;
  margin-top: 20px;
}

.empty-order-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.empty-order-message {
  font-size: 20px;
  color: #666;
  margin-top: 10px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-radius: 50%;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-radius: 50%;
}

.pagenav {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.pagenav span {
  display: inline-block;
  float: left;
  margin-right: 10px;
  line-height: 30px;
  font-weight: 700;
}

.nav_pagi {
  display: inline-block;
  padding-left: 10px;
  width: 100%;
}

.nav_pagi .pagination {
  position: relative;
  z-index: 1;
  padding: 0 0px;
  margin: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .nav_pagi .pagination {
    padding: 0 0px;
  }
}

.nav_pagi .pagination .page-link {
  font-weight: 400;
  float: left;
  margin: 0 2.5px;
  width: 35px;
  background: transparent;
  border: solid 1px #d9d9d9;
  text-align: center;
  height: 35px;
  font-size: 14px;
  padding: 0;
  line-height: 35px;
  color: #000;
  text-decoration: none;
  border-radius: initial;
  border-radius: 8px;
}

@media (max-width: 375px) {
  .nav_pagi .pagination .page-link {
    width: 27px;
    height: 27px;
    line-height: 27px;
  }
}

.nav_pagi .pagination .page-link.page-db {
  width: auto;
  padding: 0 20px;
}

.nav_pagi .pagination .page-link svg {
  width: 14px;
  height: 14px;
  margin-top: -3px;
}

.nav_pagi .pagination .page-link svg path {
  fill: #000;
}

.nav_pagi .pagination .page-link:hover {
  background-color: #f3ad98;
  color: #fff;
  background: #f3ad98;
  font-weight: bold;
  border-color: #f3ad98;
}

.nav_pagi .pagination .page-link:hover svg path {
  fill: #fff;
}

.nav_pagi .pagination .page-item {
  margin-bottom: 5px;
}

.nav_pagi .pagination .page-item.disabled .page-link {
  border: 0;
  display: none;
}

.nav_pagi .pagination .page-item.active .page-link {
  background-color: #fb9678;
  border-color: #fb9678;
  background: #fb9678;
  color: #fff;
  display: block;
  font-weight: bold;
}
.negative-margin {
  margin-bottom: -20px;
}

@media (max-width: 768px) {
  .negative-margin {
    margin-bottom: 0;
  }
}
@media (max-width: 1279px) {
  .negative-margin {
    margin-bottom: 0;
  }
}
