<div
  id="modal-coupon-product"
  class="modalcoupon-product mb-5"
  style="padding: 20px"
>
  <div class="modal-coupon-product">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="chosee_size">
          <p class="title-size">MÃ KHUYẾN MÃI</p>
        </div>
        <div class="box-cpou-dk">
          <div class="item_list_coupon">
            <div class="money_coupon">50K</div>
            <div class="content_coupon">
              <div class="boz-left">
                <div class="zip_coupon">Mã giảm giá <b>BEA50</b></div>
                <div class="noidung_coupon">
                  Nhập mã BEA50 giảm 50K đơn từ 750K
                </div>
              </div>
              <div class="boz-right">
                <button class="btn dis_copy">
                  <span>Chọn mã</span>
                </button>
                <div class="dk_btn dk_btn_1">
                  <span>Điều kiện</span>
                </div>
              </div>
            </div>
          </div>
          <div class="contet_dk contet_dk_1">
            Giảm 50.000đ cho đơn hàng từ 750.000đ. Sử dụng khi khách hàng mua
            lần đầu
          </div>
        </div>
      </div>
    </div>
    <a
      title="Close"
      mat-dialog-close
      class="modalcoupon-close close-window"
      href="javascript:;"
    >
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="far"
        data-icon="times"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
        class="svg-inline--fa fa-times fa-w-10"
      >
        <path
          fill="currentColor"
          d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"
          class=""
        ></path>
      </svg>
    </a>
  </div>
</div>
