.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
.error-message {
  color: red;
}
