<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
  <div class="container">
    <div class="main-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <div style="position: relative; display: inline-block">
                  <img
                    [src]="userResponse?.picture"
                    alt="Admin"
                    class="rounded-circle bg-primary"
                    width="110"
                    style="
                      display: block;
                      max-width: 100%;
                      min-height: 110px;
                      border-radius: 50%;
                      object-fit: cover;
                    "
                  />
                  <button
                    style="
                      position: absolute;
                      top: 80px;
                      right: 4px;
                      padding: 6px;
                      background-color: #0f0f0f;
                      cursor: pointer;
                      z-index: 1;
                    "
                    type="button"
                    (click)="uploadWidget()"
                    class="rounded-circle"
                  >
                    <i
                      class="fa-solid fa-image"
                      style="color: #fff; font-size: 20px"
                    ></i>
                  </button>
                </div>

                <div class="mt-3">
                  <h4>{{ userResponse?.name }}</h4>
                  <p class="mb-1 text-secondary">Khách hàng</p>
                  <p class="text-muted font-size-sm">
                    {{ userResponse?.email }}
                  </p>
                  <div class="d-flex align-items-center justify-content-center">
                    <button
                      type="button"
                      class="btn btn-success me-2 px-3 text-white"
                      style="padding: 0.8em 1.5em !important"
                      (click)="openChangePasswordDialog()"
                    >
                      Đổi mật khẩu
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary ms-2 px-3 text-white"
                      style="padding: 0.8em 1.5em !important"
                      (click)="logOut()"
                    >
                      Đăng xuất
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="section__content">
                <div class="fieldset">
                  <div class="field">
                    <div class="field__input-wrapper">
                      <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Nhập họ và tên</mat-label>
                        <input
                          matInput
                          type="text"
                          formControlName="name"
                          [class.is-invalid]="
                            profileForm.get('name')!.invalid &&
                            profileForm.get('name')!.touched
                          "
                        />
                        @if(profileForm.get('name')!.invalid &&
                        profileForm.get('name')!.touched) {
                        <mat-error class="fs-12">
                          Họ và tên là trường <strong>bắt buộc</strong>
                        </mat-error>
                        }
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="field">
                    <div class="field__input-wrapper">
                      <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Nhập số điện thoại</mat-label>

                        <input
                          matInput
                          type="tel"
                          formControlName="phone"
                          [class.is-invalid]="
                            profileForm.get('phone')!.invalid &&
                            profileForm.get('phone')!.touched
                          "
                        />

                        @if (profileForm.get('phone')?.hasError('pattern')) {
                        <mat-error class="fs-12"
                          >Số điện thoại phải có đúng 10 chữ số</mat-error
                        >
                        }
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="field">
                    <div class="field__input-wrapper">
                      <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Nhập địa chỉ</mat-label>
                        <input
                          matInput
                          type="text"
                          formControlName="address"
                          [class.is-invalid]="
                            profileForm.get('address')!.invalid &&
                            profileForm.get('address')!.touched
                          "
                        />
                        @if (profileForm.get('address')?.hasError('minlength'))
                        {
                        <mat-error class="fs-12"
                          >Địa chỉ phải ít nhất 10 ký tự
                        </mat-error>
                        }
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="field">
                    <div class="field__input-wrapper">
                      <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Chọn ngày tháng năm sinh</mat-label>
                        <input
                          matInput
                          [matDatepicker]="dateOfBirthPicker"
                          formControlName="dateOfBirth"
                          [class.is-invalid]="
                            profileForm.get('dateOfBirth')?.invalid &&
                            profileForm.get('dateOfBirth')?.touched
                          "
                        />
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="dateOfBirthPicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-sm-9 col-lg-12 text-center">
                  <button
                    type="button"
                    (click)="saveChanges()"
                    class="btn-success btn px-5 text-white"
                    style="padding: 0.75em 1.5em !important"
                  >
                    Lưu thay đổi
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<app-footer></app-footer>
