<!-- Footer Start -->
<div class="container-fluid text-white-50 footer mt-5 bg-dark pt-5">
  <div class="container py-5">
    <div
      class="mb-4 pb-4"
      style="border-bottom: 1px solid rgba(226, 175, 24, 0.5)"
    >
      <div class="row g-4">
        <div class="col-lg-3">
          <a href="#">
            <h1 class="mb-0 text-primary">Nature'sHarvest</h1>
            <p class="mb-0 text-secondary">Luôn ưu tiên chất lượng sản phẩm</p>
          </a>
        </div>
        <div class="col-lg-6">
          <div class="position-relative mx-auto">
            <input
              class="form-control w-100 rounded-pill border-0 px-4 py-3"
              type="number"
              placeholder="Email của bạn"
            />
            <button
              type="submit"
              class="btn btn-primary position-absolute rounded-pill border-0 border-secondary px-4 py-3 text-white"
              style="top: 0; right: 0"
            >
              Đăng ký ngay
            </button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="d-flex justify-content-end pt-3">
            <a
              class="btn btn-outline-secondary btn-md-square rounded-circle me-2"
              href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="btn btn-outline-secondary btn-md-square rounded-circle me-2"
              href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-outline-secondary btn-md-square rounded-circle me-2"
              href=""
              ><i class="fab fa-youtube"></i
            ></a>
            <a
              class="btn btn-outline-secondary btn-md-square rounded-circle"
              href=""
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <h4 class="text-light mb-3">Tại sao mọi người thích chúng tôi!</h4>
          <p class="mb-4">
            Chúng tôi cung cấp các sản phẩm tươi ngon như trái cây, sữa, và
            nhiều loại thực phẩm khác. Khách hàng yêu thích chúng tôi vì chất
            lượng và sự tươi mới của sản phẩm.
          </p>
          <a
            href=""
            class="btn rounded-pill border-secondary px-4 py-2 text-primary"
            >Đọc thêm</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="d-flex flex-column footer-item text-start">
          <h4 class="text-light mb-3">Thông tin cửa hàng</h4>
          <a class="btn-link" href="">Về chúng tôi</a>
          <a class="btn-link" href="">Liên hệ</a>
          <a class="btn-link" href="">Chính sách bảo mật</a>
          <a class="btn-link" href="">Điều khoản & Điều kiện</a>
          <a class="btn-link" href="">Chính sách hoàn trả</a>
          <a class="btn-link" href="">FAQs & Trợ giúp</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="d-flex flex-column footer-item text-start">
          <h4 class="text-light mb-3">Tài khoản</h4>
          <a class="btn-link" href="">Tài khoản của tôi</a>
          <a class="btn-link" href="">Chi tiết cửa hàng</a>
          <a class="btn-link" href="">Giỏ hàng</a>
          <a class="btn-link" href="">Danh sách yêu thích</a>
          <a class="btn-link" href="">Lịch sử đặt hàng</a>
          <a class="btn-link" href="">Đơn hàng quốc tế</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <h4 class="text-light mb-3">Liên hệ</h4>
          <p>Địa chỉ: 123 Street, New York</p>
          <p>Email: https://dungdetdienlen.com</p>
          <p>Điện thoại: +0123 4567 8910</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->

<!-- Copyright End -->
