<div class="card">
  <div class="card-body">
    <h4 class="mb-32" style="color: #03c9d7">Thông tin sản phẩm</h4>
    <form [formGroup]="categoryForm" (submit)="onSubmit()">
      <h6 class="mb-3 mt-5">Ảnh danh mục</h6>
      <div class="upload-section">
        <div class="file-square" (click)="uploadWidget()">
          <label for="cover-image">
            <button mat-button type="button">
              <i class="material-icons">add_photo_alternate</i>
            </button>
            <span class="fs-12 mt-2">Thêm hình ảnh</span>
          </label>
        </div>
        <div class="uploaded-images">
          @for (image of uploadedImages; track $index) {
          <div class="uploaded-image">
            <img
              width="100px"
              height="100px"
              style="object-fit: cover"
              [src]="image"
              alt=""
            />
          </div>
          }
        </div>
      </div>

      @if (isPictureError) {
      <mat-error class="fs-12 mb-2 ms-3" style="visibility: visible"
        >Vui lòng tải ảnh bìa</mat-error
      >
      }@else {
      <mat-error style="visibility: hidden">Vui lòng tải ảnh bìa</mat-error>
      }

      <h6 class="mb-3">Ảnh bìa</h6>
      @if (uploadedImages.length > 0) {
      <div class="file-square mb-5">
        <img
          width="100px"
          height="100px"
          style="object-fit: cover"
          [src]="uploadedImages[0]"
          alt=""
        />
      </div>
      }@else {
      <div class="file-square mb-5">
        <label for="product-image">
          <button mat-button type="button" disabled="">
            <i class="material-icons">add_photo_alternate</i>
          </button>
        </label>
      </div>
      }

      <h6 class="mb-3">Tên danh mục</h6>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nhập tên danh mục</mat-label>
        <input
          matInput
          type="text"
          required
          formControlName="name"
          [class.is-invalid]="
            categoryForm.get('name')?.invalid &&
            categoryForm.get('name')?.touched
          "
        />
        @if (categoryForm.get('name')?.hasError('required')) {
        <mat-error>Tên danh mục không được để trống</mat-error>
        }@else if (categoryForm.get('name')?.hasError('minlength')) {
        <mat-error>Tên danh mục quá ngắn. Ít nhất 5 ký tự</mat-error>
        }
      </mat-form-field>

      <div class="d-flex justify-content-end mt-5">
        <button
          mat-raised-button
          class="fs-20 p-15"
          color="accent"
          type="submit"
          extend
        >
          Hoàn tất
          <mat-icon>task_alt</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
